<!-- <div class="row clearfix">
<div class="form-group default-select">
  <select class="form-control proveedor" data-placeholder="Buscar Proveedor">
      <option selected value="">Buscar Proveedor</option>
      <option value="{{prove.id_persona}}" *ngFor="let prove of selectproveedor"> Razo: {{prove.per_razon_social}} </option>
  </select>
</div> -->
<div class="ng-autocomplete">
  <ng-autocomplete #auto
    [data]="selectproveedor"
    [searchKeyword]="keyword"
    placeholder="Buscar por Razon Social"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
  
  <ng-template #itemTemplate let-item>
  <a [innerHTML]="item.per_razon_social"></a>
  </ng-template>
  
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
  </div>
