<section class="content">
  <div class="container-fluid" *ngIf="cargandoInformacion">
    
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2 _ngcontent-okb-c6=""  class="m-b-10 title"> FORMATO DE CORTE DE CAJA SEMANAL</h2>
          </div>
            <div class="body" id="cabecera">
              <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <b>Fecha</b>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i  class="material-icons">date_range</i>
                      </span>
                      <div class="form-line">
                          <input type="text" [(ngModel)]="corteSemanalTotales.fecha" style="margin-left: 15px; color: black; font-weight: bolder;" class="form-control fechaHoy" placeholder="">
                      </div>
                  </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <b>Hora de Inicio</b>
                  <div class="input-group">
                      <span class="input-group-addon">
                        <i _ngcontent-bhr-c6="" class="material-icons">access_time</i>
                      </span>
                      <div class="form-line">
                          <input  style="margin-left: 15px;" [(ngModel)]="horaActual" type="text" id="horaInicio" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <b>Hora de Termino</b>
                  <div class="input-group">
                      <span class="input-group-addon">
                        <i _ngcontent-bhr-c6="" class="material-icons">access_time</i>
                      </span>
                      <div class="form-line">
                          <input style="margin-left: 15px;"  [(ngModel)]="horaTermino" type="text" id="horaTermino" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>
                <button _ngcontent-qva-c5="" style="margin-left:100px ;" class="btn-hover btn-border-radius color-8" (click)="volveracaja()" type="button">
                  <i _ngcontent-vro-c8="" style="color: white;" class="fas fa-angle-double-left"><span style="font-size: 15px;padding-top: 20px;"> Volver a caja</span></i>
                </button>
                <button _ngcontent-yrm-c7="" data-toggle="modal" data-target="#searchFechasmodal" class="btn-hover btn-border-radius color-5">Realizar arqueo <i _ngcontent-grx-c6="" class="fas fa-chevron-circle-right"></i></button>
              </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="body">
                <div class="row">
                    <div _ngcontent-mgq-c6="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                      <b>Fecha desde</b>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i  class="material-icons">date_range</i>
                          </span>
                          <div class="form-line">
                              <input type="text" [(ngModel)]="fechaDesde" style="margin-left: 15px; color: black; font-weight: bolder;" class="form-control fechaDesde" placeholder="">
                          </div>
                      </div>
                    </div>
                    <div _ngcontent-mgq-c6="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                      <b>Fecha Hasta</b>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i  class="material-icons">date_range</i>
                          </span>
                          <div class="form-line">
                              <input type="text" [(ngModel)]="fechaHasta" style="margin-left: 15px; color: black; font-weight: bolder;" class="form-control fechaHasta" placeholder="">
                          </div>
                      </div>
                    </div>
                      <button _ngcontent-qva-c5="" title="buscar" class="btn bg-info waves-effect search" data-toggle="tooltip" data-placement="top" title="Buscar Cortes Diarios" (click)="SearchCortes()" type="button"><i _ngcontent-xmo-c12="" style="color: white;" class="fas fa-search"></i></button>
                      <button _ngcontent-qva-c5="" class="btn bg-success waves-effect" [disabled]="btnguardar" data-toggle="tooltip" data-placement="top" title="Guardar Corte Semanal" (click)="Guardar()" style="margin-left: 10px;" type="button"><i _ngcontent-qva-c5="" style="color: white;" class="material-icons">save</i></button>
                      <div _ngcontent-mgq-c6="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div _ngcontent-mgq-c6=""   class="badge col-indigo">TOTAL INGRESADO DE LA SEMANA</div> <span class="badge bg-purple" id="value">S/ {{+totalEntregarSemanal === 0 ? '0.00': totalEntregarSemanal}}</span>
                      </div>
                </div>
              </div>
          </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="body">
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation">
                          <a href="#lunes" data-toggle="tab"> 
                            <i _ngcontent-iwq-c7="" style="color: cornflowerblue;" class="fas fa-calendar-alt"></i> LUNES <span _ngcontent-ajo-c6="" class="badge bg-green"></span>
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="#martes" data-toggle="tab">
                            <i _ngcontent-iwq-c7="" style="color: blueviolet" class="fas fa-calendar-alt"></i> MARTES  <span _ngcontent-ajo-c6="" class="badge bg-red"></span>
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="#miercoles" data-toggle="tab">
                            <i _ngcontent-iwq-c7="" style="color: yellowgreen;" class="fas fa-calendar-alt"></i> MIERCOLES <span _ngcontent-ajo-c6="" class="badge bg-orange"></span>
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="#jueves" data-toggle="tab">
                            <i _ngcontent-iwq-c7="" style="color: steelblue;" class="fas fa-calendar-alt"></i> JUEVES <span _ngcontent-ajo-c6="" class="badge bg-cyan"></span>
                          </a>
                      </li>
                      <li role="presentation">
                        <a href="#viernes" data-toggle="tab" class="active show">
                          <i _ngcontent-iwq-c7="" style="color: teal;" class="fas fa-calendar-alt"></i> VIERNES <span _ngcontent-ajo-c6="" class="badge bg-cyan"></span>
                        </a>
                     </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade" id="lunes">
                        <app-lunes></app-lunes>
                      </div>
                      <div role="tabpanel"  class="tab-pane fade" id="martes">
                          <app-martes></app-martes>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="miercoles">
                        <app-miercoles></app-miercoles>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="jueves">
                        <app-jueves></app-jueves>
                      </div>
                      <div role="tabpanel" class="tab-pane fade in active show" id="viernes">
                        <app-viernes (corteSemanal)="corteSemanal($event)" (cargandoInformacion)="existIdCaja($event)" ></app-viernes>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="container-fluid" *ngIf="!cargandoInformacion">
    <div class="card">
        <div class="body" id="cabecera">
          <h5>
            <i _ngcontent-duh-c6="" class="fas fa-thumbs-down islike"></i>
            <div _ngcontent-qsc-c12="" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 messageerror"><div _ngcontent-qsc-c12="" class="badge col-deep-orange">PORFAVOR INGRESE UN NUMERO DE CAJA EXISTENTE PARA INGRESAR AL FORMULARIO DE CORTE DE CAJA SEMANAL</div></div>
            <button _ngcontent-qva-c5="" style="margin-left: 50%;" class="btn-hover btn-border-radius color-8" (click)="volveracaja()" type="button">
              <i _ngcontent-vro-c8="" style="color: white;" class="fas fa-angle-double-left"><span style="font-size: 15px;padding-top: 20px;"> Volver a caja</span></i>
            </button>
          </h5>
        </div>
    </div>
</div>
</section>
<app-cargando-modal #isloadingModal></app-cargando-modal>
<div class="modal fade" id="searchFechasmodal"  tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-labelledby="modalPagar" aria-hidden="true">
  <div class="modal-dialog"  role="document">
      <div class="modal-content" style="border-radius: 10px;background-color: #f1f2f7">
          <div class="modal-header">
              <h5 class="modal-title">FILTROS PARA ARQUEO SEMANAL</h5>
              <button type="button" class="close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="card">
                              <div class="body">
                                  <div class="row">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <label for="email_address1">Fecha Desde</label>
                                      <div class="form-group">
                                          <div class="form-line">
                                              <input type="text" style="text-align: center; color: black;"  [(ngModel)]="fechaDesde" class="form-control fechaHoy">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <label for="email_address1">Fecha Hasta</label>
                                      <div class="form-group">
                                          <div class="form-line">
                                              <input type="text" style="text-align: center; color: black;" [(ngModel)]="fechaHasta" class="form-control fechaHoy">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style=" margin-bottom: 0px !important;">
                                      <button _ngcontent-coi-c5="" (click)="buscarTotales()" class="btn bg-info waves-effect search" data-placement="top" data-toggle="tooltip" title="" type="button" data-original-title="Buscar">
                                        <i _ngcontent-coi-c5="" _ngcontent-xmo-c12="" class="fas fa-search" style="color: white;"></i>
                                      </button>
                                    </div>
                                    <div *ngIf="reload" class="preloader pl-size-sm" style="margin-left: 45%;">
                                      <div class="spinner-layer pl-purple">
                                          <div class="circle-clipper left">
                                              <div class="circle"></div>
                                          </div>
                                          <div class="circle-clipper right">
                                              <div class="circle"></div>
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
</div>






