<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Principal</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Administración</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Proveedores</a>
                        </li>
                        <li class="breadcrumb-item active">Proveedor</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Administrar Proveedores</strong>
                        </h2>
                    </div>
                    <div class="body">
                        <button class="btn btn-success waves-effect" data-toggle="modal" data-target="#modalPerson" type="button">
                            <i class="material-icons">person_add</i>
                            <span>Registrar Proveedor</span>
                        </button>
                        <br>
                        <!--#START# Rol list-->
                        <ul class="nav nav-tabs pull-right" role="tablist">
                            <li role="presentation">
                                <a href="#home_with_icon_title" data-toggle="tab" class="active show">
                                    PROVEEDORES HABILITADOS
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile_with_icon_title" data-toggle="tab">
                                    PROVEEDORES DESHABILITADOS
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active show" id="home_with_icon_title">
                                <br><br>
                                <app-reload style="margin: 150px;" *ngIf="isloadinglista" [isloading]="isloadinglista"  message="Cargando"></app-reload>
                                <div class="table-responsive" id="tbPersonActive">
                                    <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbPersonActive" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th scope="col">Razon Social</th>
                                            <th scope="col">Ruc</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Direccion</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                <br><br>
                                <div class="table-responsive" id="tbPersonDisabled">
                                    <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbPersonDisabled" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th scope="col">Razon Social</th>
                                            <th scope="col">Ruc</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Direccion</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Numero Documento</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--## START MODAL EDIT SUPPLIER-->
    <div class="modal fade" id="modalPerson" tabindex="-1" role="dialog" aria-labelledby="editSupplierModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content"  style="border-radius: 10px;">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input type="hidden">
                            <label for="enamePerson">Razon Social *</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="enamePerson" [(ngModel)]="people.per_razon_social" class="form-control" placeholder="Razon social...">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="elastName">Ruc *</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" onkeypress="return soloNumeros(event);"  maxlength="11" class="form-control" [(ngModel)]="people.docNumber" placeholder="Ruc...">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="elastName">Celular/Telefono *</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" onkeypress="return soloNumeros(event);"  maxlength="9" class="form-control" [(ngModel)]="people.phone" placeholder="Telefono...">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="edireccion">Dirección *</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea [(ngModel)]="people.address" class="materialize-textarea" placeholder="Direccion......"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" >
                        <button *ngIf="!btnAccion" type="button" class="btn btn-outline-success btn-lg btn-block waves-effect" (click)="createPerson()">
                            <span *ngIf="!isLoading">Guardar</span>
                            <app-reloadform [btnisLoading]="isLoading"></app-reloadform>
                        </button>
                        <button *ngIf="btnAccion" type="button" class="btn btn-outline-success btn-lg btn-block waves-effect" (click)="UpdatePerson()">
                            <span *ngIf="!isLoading">Actualizar</span>
                            <app-reloadform [btnisLoading]="isLoading"></app-reloadform>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-lg btn-block waves-effect" data-dismiss="modal">Volver a Lista</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--## END MODAL EDIT SUPPLIER-->

    <!--## START MODAL CREATE SUPPLIER-->
    <!-- <div class="modal fade" id="createSupplier" tabindex="-1" role="dialog"
         aria-labelledby="createSupplierModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createSupplierModal">Registrar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="supplierForm" (ngSubmit)="createSupplier()">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label for="namePerson">Nombre</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="hidden" formControlName="idPersona">
                                        <input type="text" id="namePerson" formControlName="name"  class="form-control"
                                               placeholder="Escriba nombre del proveedor">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="lastName">Apellido</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="lastName" formControlName="lastName"  class="form-control"
                                               placeholder="Escriba nombre del proveedor">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="direccion">Dirección</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="direccion" formControlName="address" class="form-control"
                                               placeholder="Escriba la dirección">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="telefono">Télefono/Celular</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="telefono" formControlName="phone" maxlength="9" class="form-control"
                                               placeholder="Escriba el número celular">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="typeDocument">Tipo Documento</label>
                                <div class="form-group default-select">
                                    <select class="form-control select2" id="typeDocument" formControlName="typeDocument" data-placeholder="Select">
                                        <option value="DNI">DNI</option>
                                        <option value="RUC">RUC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="numberDocument">Número Documento</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="numberDocument" formControlName="docNumber"  class="form-control"
                                               placeholder="Escriba el número de documento">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" *ngIf="editing">
                            <button type="submit" class="btn btn-info waves-effect">Editar</button>
                            <button type="button" class="btn btn-danger waves-effect"
                                    data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 text-center" *ngIf="!editing">
                            <br><br><br>
                            <div _ngcontent-dju-c6="" class="preloader pl-gray">
                                <div _ngcontent-dju-c6="" class="spinner-layer pl-green">
                                    <div _ngcontent-dju-c6="" class="circle-clipper left">
                                        <div _ngcontent-dju-c6="" class="circle">
                                        </div>
                                    </div>
                                    <div _ngcontent-dju-c6="" class="circle-clipper right">
                                        <div _ngcontent-dju-c6="" class="circle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><br></p>
                            <p class="text-dark">Se esta editando los datos...</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <!--## END MODAL CREATE SUPPLIER-->

</section>
