<section class="content">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
            <h2 _ngcontent-okb-c6=""  class="m-b-10 title"> COMPRAS | REPORTES <i _ngcontent-aht-c6="" style="font-size: 30px;margin-left: 10px;color: GREEN;" class="fas fa-chart-line"></i></h2>
          </div>
          <div class="body" id="cabecera">
              <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <b style="margin-left: 10px;">desde</b>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i  style="margin-left: 10px;" class="material-icons">date_range</i>
                          </span>
                          <div class="form-line">
                              <input [disabled]="cargandoInformacion" style="margin-left: 8px;" [(ngModel)]="params.fechaDesde" type="text" id="reportes_input" class="form-control fecha_desde" placeholder="">
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <b>Hasta</b>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i class="material-icons">date_range</i>
                          </span>
                          <div class="form-line">
                              <input [disabled]="cargandoInformacion" style="margin-left: 8px;" (change)="Fetch()"  [(ngModel)]="params.fechaHasta" type="text" id="reportes_input" class="form-control fecha_hasta" placeholder="">
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="form-group default-select">
                          <b>Proveedor</b>
                          <select class="form-control Proveedor" [disabled]="cargandoInformacion" id="proveedor" [(ngModel)]="params.codeProveedor" data-placeholder="Select">
                              <option value="select"></option>
                              <option value="{{prove.id_persona}}"  *ngFor="let prove of proveedor">{{prove.per_razon_social}}</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="form-group default-select">
                          <b>Tipo Pago</b>
                          <select class="form-control tipoPago" [disabled]="cargandoInformacion" [(ngModel)]="params.tipoPago" data-placeholder="Select">
                              <option></option>
                              <option value="contado">DEBITO</option>
                              <option value="credito">CREDITO</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="form-group default-select">
                          <b>Tipo Comprobante</b>
                          <select class="form-control tipoComprobante" [disabled]="cargandoInformacion" [(ngModel)]="params.tipoComprobante"  data-placeholder="Select">
                              <option></option>
                              <option value="factura">FACTURA</option>
                              <option value="boleta">BOLETA</option>
                          </select>
                      </div>
                    </div>
                    <button _ngcontent-cba-c19="" [disabled]="cargandoInformacion" class="btn btn-success waves-effect" type="button" title="actualizar" (click)="FetchActualzar()"><i _ngcontent-cfj-c8="" class="fas fa-sync-alt"></i></button>
                    <button _ngcontent-cba-c19="" [disabled]="cargandoInformacion" style="margin-left: 5px;" class="btn btn-success waves-effect" (click)="LimpiarFiltros()" type="button"><i _ngcontent-wdf-c5="" class="fas fa-eraser"></i></button>
                    <button _ngcontent-cba-c19="" [disabled]="cargandoInformacion" style="margin-left: 5px;" class="btn btn-success waves-effect" (click)="Exportar()" type="button"><i _ngcontent-wdf-c5="" class="fas fa-file-excel"></i></button>
                    

              </div>
          </div>
      </div>
      <div class="card">
        <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#Vigentes" data-toggle="tab" [ngClass]="{'active show': showTab === 1, '': showTab !== 1}"> 
                      <i _ngcontent-mnn-c6="" class="fas fa-shopping-cart"></i> Vigentes <span _ngcontent-ajo-c6="" class="badge bg-green">{{+comprasVigentes === 0 ? 0 : +comprasVigentes}}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Anuladas" data-toggle="tab"   [ngClass]="{'active show': showTab === 2, '': showTab !== 2}">
                      <i _ngcontent-mnn-c6="" class="fas fa-trash"></i> Anuladas  <span _ngcontent-ajo-c6="" class="badge bg-red">{{comprasAnuladas.length === 0 ? 0 : comprasAnuladas.length}}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#contado" data-toggle="tab" [ngClass]="{'active show': showTab === 3, '': showTab !== 3}">
                      <i _ngcontent-ahx-c5="" class="fas fa-money-check-alt"></i> Compras Al Contado <span _ngcontent-ajo-c6="" class="badge bg-orange">{{comprasContado.length === 0 ? 0 : comprasContado.length}}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#credito" data-toggle="tab"  [ngClass]="{'active show': showTab === 4, '': showTab !== 4}">
                      <i _ngcontent-mnn-c6="" class="fas fa-credit-card"></i> Compras Al credito <span _ngcontent-ajo-c6="" class="badge bg-cyan">{{comprasCredito.length === 0 ? 0 : comprasCredito.length}}</span>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in" [ngClass]="{'active show': showTab === 1, '': showTab !== 1}" id="Vigentes">
                    <h5 class="tittle">Compras Vigentes</h5>
                    <app-compras-vigentes #vigentes (sendIdCompra)="DetalleCompra($event)" (sendIdCompraEstado)="Anular($event)" (sendIdCompraExcel)="exportarExcelById($event)"></app-compras-vigentes>
                </div>
                <div role="tabpanel"  class="tab-pane fade" [ngClass]="{'active show': showTab === 2, '': showTab !== 2}" id="Anuladas">
                    <b class="tittle">Compras Anuladas</b>
                    <app-compras-anuladas #anuladas (sendIdCompra)="DetalleCompra($event)" (sendIdCompraEstado)="Anular($event)" (sendIdCompraExcel)="exportarExcelById($event)"></app-compras-anuladas>
                </div>
                <div role="tabpanel" class="tab-pane fade" [ngClass]="{'active show': showTab === 3, '': showTab !== 3}" id="contado">
                    <b class="tittle">Compras al contado</b>
                    <app-compras-contado #contado (sendIdCompra)="DetalleCompra($event)" (sendIdCompraEstado)="Anular($event)" (sendIdCompraExcel)="exportarExcelById($event)"></app-compras-contado>
                </div>
                <div role="tabpanel" class="tab-pane fade" [ngClass]="{'active show': showTab === 4, '': showTab !== 4}" id="credito">
                    <b class="tittle">Compras al credito</b>
                    <app-compras-credito #credito (sendIdCompra)="DetalleCompra($event)" (sendIdCompraEstado)="Anular($event)" (sendIdCompraExcel)="exportarExcelById($event)"></app-compras-credito>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
</section>
<div class="modal fade" id="DetalleModal"  tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-labelledby="modalPagar" aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document">
      <div class="modal-content" style="border-radius: 10px;background-color: #f1f2f7">
          <div class="modal-header">
              <h5 class="modal-title" style="margin-left: 300px;" id="modalPagar">DETALLE DE COMPRA</h5>
              <button type="button" class="close" (click)="Close()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="card">
                              <div class="header bg-cyan">
                                  <h2>
                                     Informacion Compra
                                  </h2>
                                  <ul class="header-dropdown m-r-0">
                                      <li>
                                          <a href="#" onClick="return false;">
                                              <i class="material-icons">info_outline</i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="body">
                                  <div class="row" id="caja">
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> Fecha compra :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.fecha}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> N° compra  :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.numeroCompra}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> Forma pago :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.formaPago}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> Proveedor :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.proveedor}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> N° Ruc  :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.ruc}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> N° Cuotas :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.cuotas}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> Comprobante :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.Comprobante}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> N° Comprobante  :
                                          </span>
                                          <span class="valorcompra">{{compracabecera.numeroComprobante}}</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                          <span class="titulo"> Estado  :
                                          </span>
                                          <span _ngcontent-jwd-c7="" class="badge valorcompra" [ngClass]="{'col-red': compracabecera.estado === 0, 'bg-green': compracabecera.estado === 1}">{{compracabecera.estado === 1 ? 'Vigente' : 'Anuladas' }}</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <div class="header bg-light-blue">
                                  <h2>
                                   Detalle de la Compra N° {{compracabecera.numeroCompra}}
                                  </h2>
                                  <ul class="header-dropdown m-r-0">
                                      <li>
                                          <a href="#" onClick="return false;">
                                              <i class="material-icons">info_outline</i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="body">
                                  <table *ngIf="listaDetalle.length > 0"  class="table table-bordered table-striped table-hover js-basic-example">
                                      <thead>
                                          <tr>
                                              <th>Producto</th>
                                              <th>Cantidad</th>
                                              <th>Precio Unitario</th>
                                              <th>Sub Total</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let item of listaDetalle">
                                          <td>{{item.producto}}</td>
                                          <td>{{item.cantidad}}</td>
                                          <td>{{item.precio}}</td>
                                          <td>{{item.subTotal}}</td>
                                        </tr>
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th colspan="3"> <span> SubTotal</span></th>
                                              <td>{{compracabecera.subtotal}}</td>
                                          </tr>
                                          <tr>
                                              <th colspan="3"> <span> Igv</span></th>
                                              <td>{{compracabecera.igv}}</td>
                                          </tr>
                                          <tr>
                                              <th colspan="3"> <span> Total</span></th>
                                              <td>{{compracabecera.total}}</td>
                                          </tr>
                                      </tfoot>
                                    </table>
                                    <span class="badge col-red sinDetalle" *ngIf="listaDetalle.length === 0"> NO EXISTE DETALLE PARA ESTA COMPRA <i _ngcontent-cqy-c6="" class="fas fa-thumbs-down"></i> </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
<app-cargando-modal #isloading></app-cargando-modal>
