<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Administrar Usuarios</strong>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;"></a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;"></a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <button class="btn btn-success waves-effect" data-toggle="modal" data-target="#createUserModal" type="button">
                            <i class="material-icons">person_add</i>
                            <span>Registrar Usuario</span>
                        </button>
                        <br>
                        <!--#START# Rol list-->
                        <ul class="nav nav-tabs pull-right" role="tablist">
                            <li role="presentation">
                                <a href="#home_with_icon_title" data-toggle="tab" class="active show">
                                    USUARIOS HABILITADOS
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile_with_icon_title" data-toggle="tab">
                                    USUARIOS DESHABILITADOS
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active show" id="home_with_icon_title">
                                <br><br>
                                <div class="table-responsive">
                                    <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbUserEnable" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Rol</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Numero Documento</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                <br><br>
                                <div class="table-responsive">
                                    <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbUserDisabled" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Rol</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Numero Documento</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--## START MODAL CREAR -->
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog"
         aria-labelledby="createModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content"  style="border-radius: 10px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModal">Registrar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h3 class="text-dark" style="font-size: 15px;">Credenciales</h3>
                            <br>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="userName">Usuario</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="create.nameUser" class="form-control" placeholder="Escriba su usuario">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="password">Password</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="password" [(ngModel)]="create.password" class="form-control" placeholder="Escriba su password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 center">
                            <label for="idRols">Rol</label>
                            <div class="form-group default-select">
                                <select class="form-control select2" id="idRols" [(ngModel)]="create.idRol" data-placeholder="Seleccione rol">
                                    <option *ngFor="let rol of rols" value="{{rol.id_rol}}">{{rol.rol_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3 class="text-dark" style="font-size: 15px;">Datos Personales</h3>
                            <br>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="namePerson">Nombre</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="create.name" class="form-control" placeholder="Escriba su nombre">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="lastName">Apellido</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="create.lastName" class="form-control" placeholder="Escriba su apellido">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="direccion">Dirección</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="create.address" class="form-control" placeholder="Escriba su dirección">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="telefono">Telefono</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text"  onkeypress="return soloNumeros(event);" [(ngModel)]="create.phone" maxlength="9" class="form-control" placeholder="Example: 928232123">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="typeDocument">Tipo Documento</label>
                            <div class="form-group default-select">
                                <select class="form-control" id="typeDocumentCreate" [(ngModel)]="create.typeDocument" data-placeholder="Select">
                                    <option value="DNI" >DNI</option>
                                    <option value="RUC">RUC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="numberDocument">Número Documento</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" *ngIf="isTipoDoument == 'DNI'" onkeypress="return soloNumeros(event);"  maxlength="8" [(ngModel)]="create.docNumber"  class="form-control" placeholder="Escriba su numero documento">
                                    <input type="text" *ngIf="isTipoDoument == 'RUC'"  onkeypress="return soloNumeros(event);" maxlength="11" [(ngModel)]="create.docNumber"  class="form-control" placeholder="Escriba su numero documento">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success btn-lg btn-block waves-effect" [disabled]="isbtnLoading" (click)="createUserPerson()">
                           <span *ngIf="!isbtnLoading">Registrar</span>
                           <app-reloadform #isloading></app-reloadform>
                        </button>
                       <button type="button" class="btn btn-outline-danger btn-lg btn-block waves-effect" [disabled]="isbtnLoading" data-dismiss="modal">Volver a Lista</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--## END MODAL Actualizar-->
     <div class="modal fade" id="ModalPersonandCredenciales" tabindex="-1" role="dialog"
         aria-labelledby="ModalPersonandCredenciales" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row" id="personales">
                    <div class="col-md-6 col-sm-6">
                        <label for="namePerson">Nombre</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" [(ngModel)]="create.name" class="form-control" placeholder="Escriba su nombre">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="lastName">Apellido</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" [(ngModel)]="create.lastName" class="form-control" placeholder="Escriba su apellido">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="direccion">Dirección</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" [(ngModel)]="create.address" class="form-control" placeholder="Escriba su dirección">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="telefono">Telefono</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text"  onkeypress="return soloNumeros(event);" [(ngModel)]="create.phone" maxlength="9" class="form-control" placeholder="Example: 928232123">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="typeDocumentEdit">Tipo Documento</label>
                        <div class="form-group default-select">
                            <select class="form-control" id="typeDocumentEdit" [(ngModel)]="create.typeDocument" data-placeholder="Select">
                                <option value="DNI" >DNI</option>
                                <option value="RUC">RUC</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="numberDocument">Número Documento</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" *ngIf="isTipoDoument == 'DNI'" onkeypress="return soloNumeros(event);"  maxlength="8" [(ngModel)]="create.docNumber"  class="form-control" placeholder="Escriba su numero documento">
                                <input type="text" *ngIf="isTipoDoument == 'RUC'"  onkeypress="return soloNumeros(event);" maxlength="11" [(ngModel)]="create.docNumber"  class="form-control" placeholder="Escriba su numero documento">
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="modal-body" id="credenciales">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label for="namePerson">Usuario</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" [(ngModel)]="create.nameUser" class="form-control" placeholder="Escriba su nombre">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="idRols">Rol</label>
                        <div class="form-group default-select rol">
                            <select class="form-control" id="rolupdate"  data-placeholder="Seleccione rol">
                                <option *ngFor="let rol of rols" value="{{rol.id_rol}}">{{rol.rol_name}}</option>
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button id="btnPerson" type="button" class="btn btn-outline-success btn-lg btn-block waves-effect" (click)="updatePerson()">
                     <span *ngIf="!isbtnLoading">Actualizar</span>
                     <app-reloadform #isloadingUpdatePerson></app-reloadform>
                    </button>
                    <button id="btnUsers" type="button" class="btn btn-outline-success btn-lg btn-block waves-effect" (click)="updateUsers()">
                     <span *ngIf="!isbtnLoading">Actualizar</span>
                     <app-reloadform #isloadingUpdateUsers></app-reloadform>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-lg btn-block waves-effect" data-dismiss="modal">Volver a Lista</button>
                </div>
            </div>
        </div>
    </div>
</section>
