<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="breadcrumb breadcrumb-style ">
                      <li class="breadcrumb-item">
                          <h4 class="page-title">CAJA</h4>
                      </li>
                      <li class="breadcrumb-item bcrumb-1">
                          <a routerLink="/dashboard/main">
                            <i style="font-size: 20px;margin-left: 10px;color: GREEN;"  _ngcontent-mkb-c6="" class="fas fa-box-open"></i> Home</a>
                      </li>
                      <li class="breadcrumb-item bcrumb-2">
                          <a href="#" onClick="return false;">Administrar Caja</a>
                      </li>
                      <li class="breadcrumb-item active">
                        <a href="#" onClick="return false;">Movimientos de Caja </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body" style="height: 170px;">
              <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                  <h5>Administrar Caja</h5><p></p>
                  <span class="estado">Estado:</span>
                  <span *ngIf="estadoCaja" class="badge bg-green value">Abierto</span>
                  <span *ngIf="!estadoCaja" class="badge bg-red value">Cerrado</span>
                  <span class="fecha">Fecha:</span>
                  <span class="value">{{fechaHoy}}</span>
                  <span class="fecha">N° Caja:</span>
                  <span class="value">{{idCaja}}</span>
                </div>
                <button _ngcontent-vqb-c5="" *ngIf="!opcionCaja" data-toggle="modal" data-target="#modalCaja" class="btn  waves-effect" [ngClass]="{'bg-teal': !opcionCaja, 'btn-danger': opcionCaja}" type="button">
                  <i  _ngcontent-blb-c6="" class="fas fa-lock-open"></i>
                  <span  _ngcontent-vqb-c5="" >ABRIR CAJA</span>
                </button>
                <button *ngIf="opcionCaja" _ngcontent-vqb-c5="" (click)="CerrarCaja()" class="btn btn-danger  waves-effect" type="button">
                  <i  _ngcontent-blb-c6="" class="fas fa-lock"></i>
                  <span  _ngcontent-vqb-c5="">CERRAR CAJA</span>
                </button>
                <div _ngcontent-npc-c6="" class="btn-group">
                  <button _ngcontent-npc-c6="" style="margin-left: 5px;" aria-expanded="false" aria-haspopup="true" class="btn bg-blue-grey dropdown-toggle" data-toggle="dropdown" type="button"> <i _ngcontent-kbk-c5="" class="fas fa-money-bill-alt"></i> CORTES DE CAJA <span _ngcontent-npc-c6="" class="caret">
                </span>
                </button>
              <ul _ngcontent-npc-c6="" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 36px, 0px);">
                <li _ngcontent-npc-c6="">
                  <a _ngcontent-npc-c6="" routerLink="CortesDiario/{{idCaja}}" onclick="return false;">
                  Corte Diario
                </a>
                </li>
                <li _ngcontent-npc-c6="">
                  <a _ngcontent-npc-c6="" routerLink="CortesSemanales/{{idCaja}}" onclick="return false;">Corte Semanal</a>
                </li>
              </ul>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5 style="font-size: 12px;color: black;font-family: fangsong;">FILTRAR POR </h5>
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          Desde
                      </span>
                      <div class="form-line">
                          <input type="text" style="text-align: center; height: 1rem !important; color: black;" [(ngModel)]="fechaDesde" class="form-control fechaDesde">
                      </div>
                  </div>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div  class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          Hasta
                      </span>
                      <div class="form-line">
                          <input type="text" style="text-align: center; height: 1rem !important; color: black;" (change)="FiltrarXFechas()" [(ngModel)]="fechaHasta" class="form-control fechaHasta">
                      </div>
                  </div>
                  </div>
                  <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div  class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          MES
                      </span>
                      <div class="form-group default-select">
                        <select class="form-control filtroxmes"  [disabled]="cargandoInformacion"  data-placeholder="Seleccione Mes">
                            <option value="1">ENERO</option>
                            <option value="2">FEBRERO</option>
                            <option value="3">MARZO</option>
                            <option value="4">ABRIL</option>
                            <option value="5">MAYO</option>
                            <option value="6">JUNIO</option>
                            <option value="7">JULIO</option>
                            <option value="8">AGOSTO</option>
                            <option value="9">SEPTIEMBRE</option>
                            <option value="10">OCTUBRE</option>
                            <option value="11">NOVIEMBRE</option>
                            <option value="12">DICIEMBRE</option>
                        </select>
                    </div>
                  </div>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div  class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          AÑO
                      </span>
                      <div class="form-group default-select">
                        <select class="form-control filtroxyear"  [disabled]="cargandoInformacion"  data-placeholder="Seleccione Mes">
                            <option *ngFor="let item of years" value="{{item.year}}">{{item.year}}</option>
                        </select>
                    </div>
                  </div>
                  </div> -->
                  <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button _ngcontent-cgu-c5="" class="btn bg-teal waves-effect calculator" data-toggle="tooltip" data-placement="top" title="Limpiar Filtros"  (click)="LimpiarFiltros()" type="button"><i _ngcontent-lqp-c6="" style="color: white;" class="fas fa-broom"></i></button>
                  </div> -->
                  <app-reload-filtros #isloading></app-reload-filtros>
                </div>
              </div>

              </div>
            </div>
        </div>
        <div class="card">
         <div class="body" id="cabecera">
           <!-- Nav tabs -->
           <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#cajaAdministrar" data-toggle="tab" class="active show"> 
                  <i _ngcontent-mnn-c6="" class="fas fa-shopping-cart"></i> Administrar Caja <span _ngcontent-ajo-c6="" class="badge bg-green"></span>
                </a>
            </li>
            <li role="presentation">
                <a href="#cortesCaja" data-toggle="tab">
                  <i _ngcontent-mnn-c6="" class="fas fa-trash"></i> CORTES CAJA  <span _ngcontent-ajo-c6="" class="badge bg-red"></span>
                </a>
            </li>
            <li role="presentation">
                <a href="#ArqueoCaja" data-toggle="tab" >
                  <i _ngcontent-ahx-c5="" class="fas fa-money-check-alt"></i> ARQUEO CAJA <span _ngcontent-ajo-c6="" class="badge bg-orange"></span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active show" id="cajaAdministrar">
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card body " style="margin-bottom: 0px;">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up montoInicial m-r-5"></i>
                            <b class="montoInicial">Monto Inicial</b>
                            <a style="margin-left: 20px;"> S/ {{+subtotales.montoInicial === 0 ? 0 : +subtotales.montoInicial }}</a>
                        </li>
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up montoIngreso m-r-5"></i>
                            <b class="montoIngreso">Ingresos</b>
                            <a style="margin-left: 50px;">S/ {{+subtotales.ingresos === 0 ? 0 : +subtotales.ingresos }}</a>
                        </li>
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up devoluciones m-r-5"></i>
                            <b class="devoluciones">Devoluciones</b>
                            <a style="margin-left: 16px;">S/ {{+subtotales.devoluciones === 0 ? 0 : +subtotales.devoluciones }}</a>
                        </li>
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up gastos m-r-5"></i>
                            <b class="gastos">Gastos</b>
                            <a style="margin-left: 60px;">S/ {{+subtotales.gastos === 0 ? 0 : +subtotales.gastos }}</a>
                        </li>
                        <hr>
                        <li class="list-group-item">
                          <b class="ingresos-totales">Ingre + M. Ini</b>
                            <a style="margin-left: 25px;" >S/ {{totales.IngresosMostInicial === 0 ? 0 : totales.IngresosMostInicial }}</a>
                        </li>
                        <li class="list-group-item">
                          <b class="salidas-totales">Gas + Devo</b>
                            <a style="margin-left: 30px;">S/ {{totales.GastosMostDevoluciones === 0 ? 0 : totales.GastosMostDevoluciones }}</a>
                        </li>
                        <li class="list-group-item">
                          <b class="monto-saldo-totales">Total</b>
                            <a style="margin-left: 73px;">S/ {{totales.total === 0 ? 0 : totales.total }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="margin-bottom: 0px !important;">
              <span id="descripcion">{{descripcion}}</span> 
              <div class="card">
                    <div class="body chart">
                      <div *ngIf="!chartsLengt" id="chartcaja"></div>
                      <div *ngIf="chartsLengt"> 
                        <h5>
                          <i _ngcontent-duh-c6="" class="fas fa-thumbs-down islike"></i>
                          <div _ngcontent-qsc-c12="" class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><div _ngcontent-qsc-c12="" class="badge col-deep-orange">NO EXISTE SALDO PARA ESTA FECHA ESCOGIDA</div></div>
                        </h5>
                      </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="card">
              <div class="body">
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation">
                          <a href="#ingreso" data-toggle="tab" class="active show"> 
                            <i _ngcontent-iwq-c7="" style="color: cornflowerblue;" class="fas fa-calendar-alt"></i> Ingresos <span _ngcontent-ajo-c6="" class="badge bg-green"></span>
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="#salidas" data-toggle="tab">
                            <i _ngcontent-iwq-c7="" style="color: blueviolet" class="fas fa-calendar-alt"></i> Salidas  <span _ngcontent-ajo-c6="" class="badge bg-red"></span>
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="#devoluciones" data-toggle="tab">
                            <i _ngcontent-iwq-c7="" style="color: yellowgreen;" class="fas fa-calendar-alt"></i> Devoluciones <span _ngcontent-ajo-c6="" class="badge bg-orange"></span>
                          </a>
                      </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade" id="ingreso">
                        <h5>Ingreso</h5>
                      </div>
                      <div role="tabpanel"  class="tab-pane fade" id="salidas">
                          <h5>Salidas</h5>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="devoluciones">
                        <h5>devoluciones</h5>
                      </div>
                  </div>
              </div>
            </div>
            </div>
            <div role="tabpanel"  class="tab-pane fade" id="cortesCaja">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div id="chart8"></div>
                  <div class="table-responsive">
                    <h5>Historial de totales de corte de caja </h5>
                    <table class="table table-hover table-bordered js-basic-example table-corte" style="width: 100%;">
                      <thead>
                            <tr>
                                <th>Fecha Corte</th>
                                <th>Efectivo en Monedas</th>
                                <th>Efectivo en Billetes</th>
                                <th>Ganancias</th>
                                <th>Entregado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                      <tfoot id="tfoot">
                        <tr>
                          <th colspan="3" class="text-right total"> Total</th>
                          <td>
                            <span class="total">S/ {{totalGanancias}}</span>
                        </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="ArqueoCaja">
                <b class="tittle">Arque caja</b>
            </div>
        </div>
         </div>   
        </div>
  </div>
  </div>
</section>
<app-cargando-modal #isloadingModal></app-cargando-modal>
<div class="modal fade" id="modalCaja"  tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-labelledby="modalPagar" aria-hidden="true">
  <div class="modal-dialog"  role="document">
      <div class="modal-content" style="border-radius: 10px;background-color: #f1f2f7">
          <div class="modal-header">
              <h5 class="modal-title" style="margin-left: 190px;">ABRIR CAJA</h5>
              <button type="button" class="close" (click)="Close()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="card">
                              <div class="body">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <b>Monto Apertura</b>
                                      <div class="input-group">
                                          <span class="input-group-addon">
                                            <i _ngcontent-pkb-c6="" class="fas fa-money-check-alt"></i>
                                          </span>
                                          <div class="form-line">
                                              <input type="number" [(ngModel)]="caja.montoApertura" id="reportes_input" class="form-control" placeholder="0.00">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <button _ngcontent-vqb-c5="" (click)="Aperturar()" [disabled]="cargandoInformacion" style="margin-top: 17px" class="btn bg-teal waves-effect" type="button"> Guardar
                                      </button>
                                      <button _ngcontent-vqb-c5="" (click)="Close()" style="margin-top: 17px ; margin-left: 3px;" class="btn btn-danger waves-effect" type="button"> Cerrar
                                      </button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
</div>





