<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="breadcrumb breadcrumb-style ">
                      <li class="breadcrumb-item">
                          <h4 class="page-title">CAJA</h4>
                      </li>
                      <li class="breadcrumb-item bcrumb-1">
                          <a routerLink="/dashboard/main">
                            <i style="font-size: 20px;margin-left: 10px;color: GREEN;"  _ngcontent-mkb-c6="" class="fas fa-box-open"></i> Home</a>
                      </li>
                      <li class="breadcrumb-item bcrumb-2">
                          <a href="#" onClick="return false;">Administrar Caja</a>
                      </li>
                      <li class="breadcrumb-item active">
                        <a href="#" onClick="return false;">Movimientos de Caja </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body" style="height: 160px;">
              <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <h5>Administrar Caja</h5><p></p>
                  <span class="estado">Estado:</span>
                  <span *ngIf="estadoCaja" class="badge bg-green value">Abierto</span>
                  <span *ngIf="!estadoCaja" class="badge bg-red value">Cerrado</span>
                  <span class="fecha">Fecha:</span>
                  <span class="value">{{fechaHoy}}</span>
                  <span class="fecha">N° Caja:</span>
                  <span class="value">{{idCaja}}</span>
                </div>
                <button _ngcontent-vqb-c5="" *ngIf="!opcionCaja" data-toggle="modal" data-target="#modalCaja" class="btn  waves-effect" [ngClass]="{'bg-teal': !opcionCaja, 'btn-danger': opcionCaja}" type="button">
                  <i  _ngcontent-blb-c6="" class="fas fa-lock-open"></i>
                  <span  _ngcontent-vqb-c5="" >ABRIR CAJA</span>
                </button>
                <button *ngIf="opcionCaja" _ngcontent-vqb-c5="" (click)="CerrarCaja()" class="btn btn-danger  waves-effect" type="button">
                  <i  _ngcontent-blb-c6="" class="fas fa-lock"></i>
                  <span  _ngcontent-vqb-c5="">CERRAR CAJA</span>
                </button>
                <div _ngcontent-npc-c6="" class="btn-group">
                  <button _ngcontent-npc-c6="" style="margin-left: 5px;" aria-expanded="false" aria-haspopup="true" class="btn bg-blue-grey dropdown-toggle" data-toggle="dropdown" type="button"> <i _ngcontent-kbk-c5="" class="fas fa-money-bill-alt"></i> CORTES DE CAJA <span _ngcontent-npc-c6="" class="caret">
                </span>
                </button>
              <ul _ngcontent-npc-c6="" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 36px, 0px);">
                <li _ngcontent-npc-c6="">
                  <a _ngcontent-npc-c6="" routerLink="CortesDiario/{{idCaja}}" onclick="return false;">
                  Corte Diario
                </a>
                </li>
                <li _ngcontent-npc-c6="">
                  <a _ngcontent-npc-c6="" routerLink="CortesSemanales/{{idCaja}}" onclick="return false;">Corte Semanal</a>
                </li>
              </ul>
              </div>
              <button (click)="Arqueo()" style="margin-left: 0.5%;" _ngcontent-vqb-c5="" class="btn btn-info  waves-effect" type="button">
                <span  _ngcontent-vqb-c5="" ><i _ngcontent-anl-c6=""  class="material-icons">monetization_on</i> ARQUEO DE CAJA </span>
              </button>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5 style="font-size: 12px;color: black;font-family: fangsong;">FILTRAR POR </h5>
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          Desde
                      </span>
                      <div class="form-line">
                          <input type="text" style="text-align: center; height: 1rem !important; color: black;" [(ngModel)]="filtros.fechaDesde" class="form-control fechaDesde">
                      </div>
                  </div>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div  class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          Hasta
                      </span>
                      <div class="form-line">
                          <input type="text" style="text-align: center; height: 1rem !important; color: black;" (change)="FetchTotales()" [(ngModel)]="filtros.fechaHasta" class="form-control fechaHasta">
                      </div>
                  </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div  class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          MES
                      </span>
                      <div class="form-group default-select">
                        <select class="form-control filtroxmes"  [disabled]="cargandoInformacion"  data-placeholder="Seleccione Mes">
                            <option value="1">ENERO</option>
                            <option value="2">FEBRERO</option>
                            <option value="3">MARZO</option>
                            <option value="4">ABRIL</option>
                            <option value="5">MAYO</option>
                            <option value="6">JUNIO</option>
                            <option value="7">JULIO</option>
                            <option value="8">AGOSTO</option>
                            <option value="9">SEPTIEMBRE</option>
                            <option value="10">OCTUBRE</option>
                            <option value="11">NOVIEMBRE</option>
                            <option value="12">DICIEMBRE</option>
                        </select>
                    </div>
                  </div>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div  class="input-group input-group-sm">
                      <span style="font-size: 12px;color: black;" class="input-group-addon">
                          AÑO
                      </span>
                      <div class="form-group default-select">
                        <select class="form-control filtroxyear"  [disabled]="cargandoInformacion"  data-placeholder="Seleccione Mes">
                            <option *ngFor="let item of years" value="{{item.year}}">{{item.year}}</option>
                        </select>
                    </div>
                  </div>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button _ngcontent-cgu-c5="" class="btn bg-teal waves-effect calculator" data-toggle="tooltip" data-placement="top" title="Limpiar Filtros"  (click)="LimpiarFiltros()" type="button"><i _ngcontent-lqp-c6="" style="color: white;" class="fas fa-broom"></i></button>
                  </div>
                  <app-reload-filtros #isloading></app-reload-filtros>
                </div>
              </div>

              </div>
            </div>
        </div>
        <div class="card">
         <div class="body" id="cabecera">
            <!-- <span class="detallecaja">Detalle Caja</span><p></p> -->
           <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="card body " style="margin-bottom: 0px;">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up montoInicial m-r-5"></i>
                            <b class="montoInicial">Monto Inicial</b>
                            <a class="pull-right"> S/ {{+subtotales.montoInicial === 0 ? 0 : +subtotales.montoInicial }}</a>
                        </li>
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up montoIngreso m-r-5"></i>
                            <b class="montoIngreso">Ingresos</b>
                            <a class="pull-right">S/ {{+subtotales.ingresos === 0 ? 0 : +subtotales.ingresos }}</a>
                        </li>
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up devoluciones m-r-5"></i>
                            <b class="devoluciones">Devoluciones</b>
                            <a class="pull-right">S/ {{+subtotales.devoluciones === 0 ? 0 : +subtotales.devoluciones }}</a>
                        </li>
                        <li class="list-group-item">
                          <i _ngcontent-gyp-c7="" class="fas fa-arrow-circle-up gastos m-r-5"></i>
                            <b class="gastos">Gastos</b>
                            <a class="pull-right">S/ {{+subtotales.gastos === 0 ? 0 : +subtotales.gastos }}</a>
                        </li>
                        <hr>
                        <li class="list-group-item">
                          <b class="ingresos-totales">Ingre + M. Ini</b>
                            <a class="pull-right">S/ {{totales.IngresosMostInicial === 0 ? 0 : totales.IngresosMostInicial }}</a>
                        </li>
                        <li class="list-group-item">
                          <b class="salidas-totales">Gas + Devo</b>
                            <a class="pull-right">S/ {{totales.GastosMostDevoluciones === 0 ? 0 : totales.GastosMostDevoluciones }}</a>
                        </li>
                        <li class="list-group-item">
                          <b class="monto-saldo-totales">Total</b>
                            <a class="pull-right">S/ {{totales.total === 0 ? 0 : totales.total }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="card">
                    <div class="body chart"  style="    margin-left: 250px;">
                      <div *ngIf="!chartsLengt" id="chartcaja"></div>
                      <div *ngIf="chartsLengt"> 
                        <h5>
                          <i _ngcontent-duh-c6="" class="fas fa-thumbs-down islike"></i>
                          <div _ngcontent-qsc-c12="" class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><div _ngcontent-qsc-c12="" class="badge col-deep-orange">NO EXISTE SALDO PARA ESTA FECHA ESCOGIDA</div></div>
                        </h5>
                      </div>
                    </div>
                </div>
            </div>
           </div>
         </div>   
        </div>
        <div class="card">
          <div class="body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation">
                      <a href="#Vigentes" data-toggle="tab" [ngClass]="{'active show': showTab === 1, '': showTab !== 1}"> 
                        <i _ngcontent-mnn-c6="" class="fas fa-shopping-cart"></i> Vigentes <span _ngcontent-ajo-c6="" class="badge bg-green"></span>
                      </a>
                  </li>
                  <li role="presentation">
                      <a href="#Anuladas" data-toggle="tab"   [ngClass]="{'active show': showTab === 2, '': showTab !== 2}">
                        <i _ngcontent-mnn-c6="" class="fas fa-trash"></i> Anuladas  <span _ngcontent-ajo-c6="" class="badge bg-red"></span>
                      </a>
                  </li>
                  <li role="presentation">
                      <a href="#contado" data-toggle="tab" [ngClass]="{'active show': showTab === 3, '': showTab !== 3}">
                        <i _ngcontent-ahx-c5="" class="fas fa-money-check-alt"></i> Compras Al Contado <span _ngcontent-ajo-c6="" class="badge bg-orange"></span>
                      </a>
                  </li>
                  <li role="presentation">
                      <a href="#credito" data-toggle="tab"  [ngClass]="{'active show': showTab === 4, '': showTab !== 4}">
                        <i _ngcontent-mnn-c6="" class="fas fa-credit-card"></i> Compras Al credito <span _ngcontent-ajo-c6="" class="badge bg-cyan"></span>
                      </a>
                  </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in" [ngClass]="{'active show': showTab === 1, '': showTab !== 1}" id="Vigentes">
                      <h5 class="tittle">Compras Vigentes</h5>
                  
                  </div>
                  <div role="tabpanel"  class="tab-pane fade" [ngClass]="{'active show': showTab === 2, '': showTab !== 2}" id="Anuladas">
                      <b class="tittle">Compras Anuladas</b>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" [ngClass]="{'active show': showTab === 3, '': showTab !== 3}" id="contado">
                      <b class="tittle">Compras al contado</b>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" [ngClass]="{'active show': showTab === 4, '': showTab !== 4}" id="credito">
                      <b class="tittle">Compras al credito</b>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>
<app-cargardo-component #isloadingModal></app-cargardo-component>
<div class="modal fade" id="modalCaja"  tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-labelledby="modalPagar" aria-hidden="true">
  <div class="modal-dialog"  role="document">
      <div class="modal-content" style="border-radius: 10px;background-color: #f1f2f7">
          <div class="modal-header">
              <h5 class="modal-title" style="margin-left: 190px;">ABRIR CAJA</h5>
              <button type="button" class="close" (click)="Close()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="card">
                              <div class="body">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <b>Monto Apertura</b>
                                      <div class="input-group">
                                          <span class="input-group-addon">
                                            <i _ngcontent-pkb-c6="" class="fas fa-money-check-alt"></i>
                                          </span>
                                          <div class="form-line">
                                              <input type="number" [(ngModel)]="caja.montoApertura" id="reportes_input" class="form-control" placeholder="0.00">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <button _ngcontent-vqb-c5="" (click)="Aperturar()" [disabled]="cargandoInformacion" style="margin-top: 17px" class="btn bg-teal waves-effect" type="button"> Guardar
                                      </button>
                                      <button _ngcontent-vqb-c5="" (click)="Close()" style="margin-top: 17px ; margin-left: 3px;" class="btn btn-danger waves-effect" type="button"> Cerrar
                                      </button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
</div>
<div class="modal fade" id="arqueoCajaDiario"  tabindex="-1"  data-backdrop="static" data-keyboard="false" aria-labelledby="modalPagar" aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document">
      <div class="modal-content" style="border-radius: 10px;background-color: #f1f2f7">
          <div class="modal-header">
              <h5 class="modal-title" style="margin-left: 300px;">ARQUEO DE CAJA DIARIO</h5>
              <button type="button" class="close" (click)="Close()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="card">
                              <div class="body">
                                  <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                      <label for="email_address1">Monto Apertura</label>
                                      <div class="form-group">
                                          <div class="form-line">
                                              <input type="text" id="email_address1" class="form-control"
                                                  placeholder="0.00">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                      <label for="email_address1">Corte diario</label>
                                      <div class="form-group">
                                          <div class="form-line">
                                              <input type="text" id="email_address1" class="form-control"
                                                  placeholder="0.00">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                      <label for="email_address1">Total Ingresos</label>
                                      <div class="form-group">
                                          <div class="form-line">
                                              <input type="text" id="email_address1" class="form-control"
                                                  placeholder="0.00">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                      <label for="email_address1">Total Gastos</label>
                                      <div class="form-group">
                                          <div class="form-line">
                                              <input type="text" id="email_address1" class="form-control"
                                                  placeholder="0.00">
                                          </div>
                                      </div>
                                    </div>
                                    <button _ngcontent-qva-c5="" class="btn-hover btn-border-radius color-8" (click)="volveracaja()" type="button">
                                      <i _ngcontent-vro-c8="" style="color: white;" class="fas fa-angle-double-left"><span style="font-size: 15px;padding-top: 20px;"> Calcular Arqueo</span></i>
                                    </button>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                            <div class="body">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h5>Resumen Arqueo</h5>
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
</div>





