.estado {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}
.fecha {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
}
.value {
  margin-left: 15px;
  font-size: 15px;
}
.detallecaja {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
}
.montoInicial {
  color: rgb(119, 93, 208);
}
.montoIngreso {
  color: rgb(0, 227, 150);
}
.devoluciones {
  color: rgb(254, 176, 25);
}
.gastos {
  color: rgb(255, 69, 96);
}
hr {
  border: 1px solid;
  width: 180px;
}
.ingresos-totales {
  margin-left: 20px;
  color: green;
  font-weight: bold;
}
.salidas-totales{
  margin-left: 20px;
  color: red;
  font-weight: bold;
}
.saldo-totales{
  margin-left: 20px;
  color: gray;
  font-weight: bold;
}
.saldo-totales{
  margin-left: 20px;
  color: gray;
  font-weight: bold;
}
.monto-saldo-totales{
  margin-left: 20px;
  color: lightskyblue;
  font-weight: bold;
}
.apexcharts-legend-marker {
  color: #9aa0ac;
}
#reportes_input {
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: bolder;
}
.islike {
  font-size: 150px;
  font-weight: 400;
  color: #BFAED2;
  padding-bottom: 20px;
  margin-left: 100px;
}
.btn-group, .btn-group-vertical {
   box-shadow: 0 0px 0px rgb(0 0 0 / 16%), 0 0px 00px rgb(0 0 0 / 12%) !important;
   /* padding: 20px; */
}
.tituloResumen {
  font-size: 15px;
  color: black;
  font-family: fantasy;
  margin-left: 40%;
}
.totales {
  font-size: 14px;
  color: black;
  font-family: serif;
  font-weight: bold;
}
hr {
  width: 90%;
  border: black solid 1px;
  margin-top: 0rem;
}
.padretotales {
  font-size: 14px;
  font-family: ui-serif;
  font-weight: 200;
  color: black;
}
.padretotales .total_monedas {
  margin-left: 5%;
}
.padretotales .total_billetes {
  margin-left: 8%;
}
.padretotales .total_apertura {
  margin-left: 5%;
}
.padretotales .total_venta {
  margin-left: 10%;
}
.padretotales .total_corte_Caja {
  margin-left: 10%;
}
.padretotales .total_faltantes {
  margin-left: 13%;
}
.padretotales .total_sobrantes {
  margin-left: 11%;
}
.card .body .col-lg-12 {
  margin-bottom: 10px !important;
}
.calculator{
  background-color: cornflowerblue !important;
}
