
<table class="table table-bordered table-striped  js-basic-example ingresos" style="width: 100%;"

>
  <thead>
      <tr>
         <th>Vendedor</th>
         <th>Caja</th>
         <th>Fecha</th>
         <th>Tipo Sangria</th>
         <th style="width: 300px;">Motivo</th>
         <th>Monto</th>
         <th>Opciones</th>
      </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="5" class="text-right"> Total</th>
      <td>
        <span>S/</span> {{total}}
    </td>
    </tr>
  </tfoot>
</table>