<form [formGroup]="form" (ngSubmit)="Registrar()">
  <div class="container">
      <div class="form-group" [ngClass]="displayFieldCss('pro_nombre')">
        <label for="pro_nombre" class="control-label required">Producto</label>
        <div class="form-line">
          <input type="text" onkeyup="this.value = this.value.toUpperCase();" name="pro_nombre" formControlName="pro_nombre" required class="form-control" placeholder="Nombre producto">
          <app-field-error-display [displayError]="isFieldValid('pro_nombre')" errorMsg="Nombre requerido"> </app-field-error-display>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('pro_precio_compra')">
        <label for="Precio Compra" class="control-label required">Precio Compra</label>
        <div class="form-line">
          <input type="number" name="pro_precio_compra" required formControlName="pro_precio_compra" class="form-control" placeholder="0.00">
          <app-field-error-display [displayError]="isFieldValid('pro_precio_compra')" errorMsg="Precio Compra Requerido">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('pro_precio_venta')">
        <label for="Precio Venta" class="control-label required">Precio Venta</label>
        <div class="form-line">
          <input type="text" onkeyup="this.value = this.value.toUpperCase();" name="pro_precio_venta" formControlName="pro_precio_venta" required class="form-control" placeholder="0.00">
          <app-field-error-display [displayError]="isFieldValid('pro_precio_venta')" errorMsg="Precio Venta Requerido">
          </app-field-error-display>      
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('cantidad')">
        <label for="Cantidad" class="control-label required">Cantidad</label>
        <div class="form-line">
          <input type="number" value="{{cantidad}}" name="cantidad" required formControlName="cantidad" class="form-control" >
          <app-field-error-display [displayError]="isFieldValid('cantidad')" errorMsg="Cantidad Requerida">
          </app-field-error-display> 
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('cantidad_minima')">
        <label for="cantidad_minima" class="control-label required">Cantidad Minima</label>
        <div class="form-line" >
          <input type="number" name="cantidad_minima"  formControlName="cantidad_minima" required class="form-control" value="{{cantidad}}">
          <app-field-error-display [displayError]="isFieldValid('cantidad_minima')" errorMsg="Cantidad Minima Requerida">
          </app-field-error-display>    
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('codigo_barra')">
        <label for="Codigo Barra" class="control-label required">Codigo Barra</label>
        <div class="form-line">
          <input type="text" value="{{CodigoBarra}}" id="codigo_barra" name="codigo_barra" formControlName="codigo_barra"
                 class="form-control" placeholder="0000">
          <app-field-error-display [displayError]="isFieldValid('codigo_barra')" errorMsg="Codigo Barra Requerido">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('clase')">
        <label for="Categoria" class="control-label required">Categoria</label>
        <div class="form-line">
          <input class="text-uppercase" id="filtro" formControlName="clase"/>
          <app-c-seleccionar-categoria *ngIf="isloadingCategoria" [isActiveCategoria]="isloadingCategoria" (cate)="selectCategoria($event)"></app-c-seleccionar-categoria>
          <button type="button" class="btn btn-success" style="height: 30px; background-color: #48c774 !important;"  (click)="showSelectCategoria()"><i class="fas fa-search-plus" style="font-size: 15px;"></i>
          </button>
          <app-field-error-display [displayError]="isFieldValid('clase')" errorMsg="Categoria Requerido">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group">
        <label for="Subcategoria" class="control-label required">Sub Categoria</label>
        <div class="form-line">
          <input class="text-uppercase" id="filtro" formControlName="subclase"/>
          <!-- <app-c-seleccionar-categoria *ngIf="isloadingSubCategoria" [isActiveCategoria]="isloadingSubCategoria" (cate)="selectCategoria($event)"></app-c-seleccionar-categoria> -->
          <button type="button" class="btn btn-success" style="height: 30px; background-color: #48c774 !important;"><i class="fas fa-search-plus" style="font-size: 15px;"></i>
          </button>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('lote')">
        <label for="Categoria" class="control-label required">Lote</label>
        <div class="form-line">
          <input class="text-uppercase" id="filtro" formControlName="lote"/>
          <app-c-seleccionar-lote *ngIf="isloadingLote" [isActiveLote]="isloadingLote" (lote)="selectLote($event)"></app-c-seleccionar-lote>
          <button type="button" class="btn btn-success" style="height: 32px; background-color: #48c774 !important;" (click)="showSelectLote()"><i class="fas fa-search-plus" style="font-size: 15px;"></i>
          </button>
          <app-field-error-display [displayError]="isFieldValid('lote')" errorMsg="Lote Requerido">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('unidad')">
        <label for="Categoria" class="control-label required">Unidad de Medida</label>
        <div class="form-line">
          <input class="text-uppercase" id="filtro" formControlName="unidad"/>
          <app-c-seleccionar-unidad-medida *ngIf="isloadingUnidadMedida" [isActiveUnidadMedida]="isloadingUnidadMedida" (lote)="selectLote($event)"></app-c-seleccionar-unidad-medida>
          <button type="button" class="btn btn-success" style="height: 32px; background-color: #48c774 !important;" (click)="showSelectUnidaMedida()"><i class="fas fa-search-plus" style="font-size: 15px;"></i>
          </button>
          <app-field-error-display [displayError]="isFieldValid('unidad')" errorMsg="Unidad de Medida Requerido">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('descripcion')">
        <label for="Descripción" class="control-label required">Descripción</label>
        <div class="form-line">
          <textarea name="textarea" name="descripcion" formControlName="descripcion" onkeyup="this.value = this.value.toUpperCase();" rows="5" cols="10" placeholder="Este producto es......"></textarea>
          <app-field-error-display [displayError]="isFieldValid('descripcion')" errorMsg="Descripcion requerido">
          </app-field-error-display>
        </div>
      </div>
  </div>
  <div class="card">
    <div class="card-body file" style="height: 100px;">
      <i class="fas fa-cloud-upload-alt fa-3x">
        <h5 class="block">Subir archivos</h5>
        <input class="upload-box" id="upload" (change)="Adjuntar($event)" type="file" name="upload"  accept="image/*"/>
      </i>
      <div id="preview">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-lg btn-block waves-effect" data-dismiss="modal">Volver a lista</button>
    <button type="submit"  class="btn btn-outline-success btn-lg btn-block waves-effect">
    <span>Guardar</span></button>
    <button  type="button" (click)='GenerarCode()' class="btn btn-outline-warning btn-lg btn-block waves-effect">Generar codigo Barra</button>
  </div>
</form>