<div class="login" style="margin-top: 150px;">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Login</h2>

  <div class="login-container">
    <p><input type="text" [(ngModel)]="usuario" placeholder="Username"></p>
    <p><input type="password" [(ngModel)]="password" placeholder="Contraseña"></p>
   
    <p><button (click)="Login()" [disabled]="btnisLoading" class="btn-lg btn-block"><span *ngIf="!btnisLoading"> INGRESAR</span><div *ngIf="btnisLoading" _ngcontent-yja-c6="" class="preloader pl-size-xs"><div _ngcontent-yja-c6="" class="spinner-layer pl-red-grey"><div _ngcontent-yja-c6="" class="circle-clipper left"><div _ngcontent-yja-c6="" class="circle"></div></div><div _ngcontent-yja-c6="" class="circle-clipper right"><div _ngcontent-yja-c6="" class="circle"></div></div></div></div></button>
  </div>
</div>