<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="body">
          <div class="table-responsive">
              <table class="table table-hover table-bordered" style="width: 80%;">
                <thead>
                  <tr><th colspan="4" class="text-center cabecera">MONEDAS</th></tr>
                      <tr>
                          <th class="center" id="tr"  style="width: 50px;">Valor</th>
                          <th class="center" id="tr" style="width: 50px;">Cantidad</th>
                          <th class="center" id="tr"  style="width: 50px;">Total</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listMonedas">
                      <td>{{item.dcc_valor}}</td>
                      <td>{{item.dcc_cantidad}}</td>
                    <td><span id="total" class="badge bg-green value">{{item.dcc_total}}</span></td>
                    </tr>
                  </tbody>
                <tfoot id="tfoot">
                  <tr>
                    <th colspan="2" class="text-right total"> Total Monedas</th>
                    <td>
                      <span class="total">S/ {{totalMonedas}}</span>
                  </td>
                  </tr>
                </tfoot>
              </table>
          </div>
      </div>
  </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card">
          <div class="body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered js-basic-example" style="width: 80%;">
                  <thead>
                    <tr><th colspan="4" class="text-center cabecera">BILLETES</th></tr>
                        <tr>
                            <th class="center" id="tr"  style="width: 50px;">Valor</th>
                            <th class="center" id="tr" style="width: 50px;">Cantidad</th>
                            <th class="center" id="tr"  style="width: 50px;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listBilletes">
                        <td>{{item.dcc_valor}}</td>
                        <td>{{item.dcc_cantidad}}</td>
                      <td><span id="total" class="badge bg-green value">{{item.dcc_total}}</span></td>
                      </tr>
                    </tbody>
                  <tfoot id="tfoot">
                    <tr>
                      <th colspan="2" class="text-right total"> Total Billetes</th>
                      <td>
                        <span class="total">S/ {{totalBilletes}}</span>
                    </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>