<div class="card">
  <div class="header">
    <h6> <strong>Buscar Por: </strong> </h6>  
  </div>
  <div class="card-body" style="display: flex;">
    <input class="text-uppercase" style="width: 15%;" [(ngModel)]="categoria" type="text" placeholder="Buscar Categoria"/>
    <app-c-seleccionar-categoria *ngIf="isloadingCategoria" [isActiveCategoria]="isloadingCategoria" (cate)="selectCategoria($event)"></app-c-seleccionar-categoria>
    <button class="btn btn-success" style="height: 30px; background-color: #48c774 !important;" (click)="showSelectCategoria()"><i class="fas fa-search-plus" style="font-size: 15px;"></i></button>
    
    <input class="text-uppercase" style="width: 15%;" type="text" [(ngModel)]="lote" placeholder="Buscar Lotes" />
    <app-c-seleccionar-lote *ngIf="isloadingLote" [isActiveLote]="isloadingLote" (lote)="selectLote($event)"></app-c-seleccionar-lote>
    <button class="btn btn-success" style="height: 30px; background-color: #48c774 !important;" (click)="showSelectLote()"><i class="fas fa-search-plus" style="font-size: 15px;"></i></button>
    
    <input class="text-uppercase" style="width: 15%;" [(ngModel)]="unidadMedida" type="text" placeholder="Buscar Unidad Medida" />
    <app-c-seleccionar-unidad-medida *ngIf="isloadingUnidadMedida" [isActiveUnidadMedida]="isloadingUnidadMedida" (unidadMedida)="selectUnidad($event)"></app-c-seleccionar-unidad-medida>
    <button class="btn btn-success" style="height: 30px; background-color: #48c774 !important;" (click)="showSelectUnidaMedida()"><i class="fas fa-search-plus" style="font-size: 15px;"></i></button>
    <!-- <input class="text-uppercase" style="width: 30%;" type="text" placeholder="Buscar Categoria" />
    <input class="text-uppercase" style="width: 30%;" type="text" placeholder="Buscar Unidad Medida" /> -->
    <button style="margin-left: 10px; background-color: #48c774 !important; height: 15%;" _ngcontent-xhm-c6="" class="btn bg-light-green waves-effect"  (click)='Listar()' title="refrest" type="button"><i class="fas fa-eraser" style="font-size: 12px;"></i><span >Limpiar Filtros</span></button>
    <button style="margin-left: 10px; background-color: #48c774 !important; height: 15%;" _ngcontent-xhm-c6="" class="btn bg-light-green waves-effect" (click)='Listar()' title="refrest" type="button"><i _ngcontent-dhs-c6="" style="font-size: 15px;" class="fas fa-undo-alt"></i> <span style="font-size: 12px;">Actualizar</span></button>
  </div>
 </div> 