.search-results {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.search-results::-webkit-scrollbar {
  -webkit-appearance: none;
}

.search-results::-webkit-scrollbar:vertical {
  width:10px;
}
.search-results::-webkit-scrollbar-thumb {
  background-color: #48c78e;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.btn:not(.btn-link):not(.btn-circle) span {
  top: 0px !important;
}
