.search-results {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width:10px;
}
::-webkit-scrollbar-thumb {
  background-color: #48c78e;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.btn:not(.btn-link):not(.btn-circle) span {
  top: 0px !important;
}
.modal-content {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-title {
  margin-left: 300px !important;
  font-weight: 400 !important;
}
@media (max-width: 800px) {
  .modal-title {
    margin-left: 100px !important;
    font-weight: 400 !important;
  }
  .modal-content {
    width: 400px;
  }
}

