<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br><br>
               <app-filtros #filtros (filtroCategoria)="filtroCategoria($event)" (filtroUnidadMedida)="filtroUnidadMedida($event)" (filtroRangoFecha)="filtroRangoFecha($event)" (Reload)="Actualizar($event)" (Limpiar)="Limpiar($event)" (isExport)="Exportar($event)"></app-filtros>
                <div class="card">
                    <div class="body">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <!-- Nav tabs -->
                                <button _ngcontent-xhm-c6="" class="btn btn-success waves-effect" style="background-color: #48c774 !important;" (click)="showModalProduct()" type="button"><i _ngcontent-dhs-c6="" class="fas fa-plus-square"></i> Crear Producto</button>
                                <br>
                                <ul class="nav nav-tabs pull-right" role="tablist">
                                    <li role="presentation">
                                        <a href="#productoUnidad" data-toggle="tab" class="active show">
                                           PRODUCTOS POR UNIDAD
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#productoLote" data-toggle="tab">
                                           PRODUCTOS POR LOTES
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active show" id="productoUnidad">
                                      <div class="table-responsive">
                                        <div  class="search-results"
                                          infiniteScroll
                                          [infiniteScrollDistance]="2"
                                          [infiniteScrollUpDistance]="1.5"
                                          [infiniteScrollThrottle]="200"
                                          [infiniteScrollDisabled]="infiniteScrollStatus"
                                          [scrollWindow]="false"
                                          (scrolled)="onScrollDown()"
                                        >
                                        <table class="display table table-hover tbProductoxUnidad" style="width: 100%;">
                                          <thead>
                                              <tr>
                                                <!--<th scope="col"><div _ngcontent-kfl-c6="" class="form-check m-l-10"><label _ngcontent-kfl-c6="" class="form-check-label"><input _ngcontent-kfl-c6=""   id="enviar" class="form-check-input" type="checkbox" value=""><span _ngcontent-kfl-c6="" class="form-check-sign"><span _ngcontent-kfl-c6="" class="check"></span></span></label></div></th>-->
                                                <th style="width: 200px;" scope="col">Producto</th>
                                                <th style="width: 100px;" scope="col">P.Compra</th>
                                                <th style="width: 100px;" scope="col">P.Venta</th>
                                                <th style="width: 100px;" scope="col">Cantidad</th>
                                                <th style="width: 150px;" scope="col">C.Barra</th>
                                                <th style="width: 120;" scope="col">F.Creacion</th>
                                                <th style="width: 100px;" scope="col">Categorias</th>
                                                <th style="width: 100px;"  scope="col">Estado</th>
                                                <th style="width: 360px;"  scope="col"></th>
                                              </tr>
                                          </thead>
                                        </table>
                                        <app-reload style="margin: 150px;" [isloading]="isloadinglista"  message="Cargando"></app-reload>
                                        </div>
                                      </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="productoLote">
                                      <div class="table-responsive">
                                        <div class="search-results" 
                                        infinite-scroll 
                                        [infiniteScrollDistance]="2" 
                                        [infiniteScrollThrottle]="50" 
                                        [infiniteScrollDisabled]="infiniteScrollStatus"
                                        [scrollWindow]="false"
                                        (scrolled)="onScrollDown()"
                                        >
                                        <table class="display table table-hover tbProductoLote" style="width: 100%;">
                                          <thead>
                                            <tr>
                                              <!--<th scope="col"><div _ngcontent-kfl-c6="" class="form-check m-l-10"><label _ngcontent-kfl-c6="" class="form-check-label"><input _ngcontent-kfl-c6=""   id="enviar" class="form-check-input" type="checkbox" value=""><span _ngcontent-kfl-c6="" class="form-check-sign"><span _ngcontent-kfl-c6="" class="check"></span></span></label></div></th>-->
                                              <th style="width: 200px;" scope="col">Producto</th>
                                              <th style="width: 150px;" scope="col">C.Barra</th>
                                              <th style="width: 150;"   scope="col">F.Creacion</th>
                                              <th style="width: 100px;" scope="col">Categorias</th>
                                              <th style="width: 100px;" scope="col">U.Medida</th>
                                              <th style="width: 50px;"  scope="col">Estado</th>
                                              <th style="width: 360px;"  scope="col"></th>
                                            </tr>
                                          </thead>
                                        </table>
                                        <app-reload style="margin: 150px;" [isloading]="isloadinglista"  message="Cargando"></app-reload>
                                      </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content" id="modal-product">
      <div class="modal-header">
        <span class="modal-title" id="title-modal-product">{{title}}</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <app-formproducto #formProducto (productlist)="productlist($event)" (error)="error($event)" (close)="close($event)" ></app-formproducto>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="seleccionarTipoProducto">
  <div class="modal-dialog">
    <div class="modal-content"  style="border-radius: 10px;" >
      <div class="modal-header">
        <h5 class="modal-title"><span style="font-family: sans-serif !important;">Tipo registro de productos</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 style="font-weight: 580 !important;">Seleccione el tipo de registro de sus productos? </h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn bg-green waves-effect" (click)="seleccionar(1)">
         Registro por Lotes
        </button>
        <button type="button" class="btn bg-teal waves-effect" (click)="seleccionar(2)">Registro por Unidad</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gcodebarra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 10px;">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title-imprimir">IMPRIMIR CODIGO BARRA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md- 6 col-lg-6 col-sm-6">
              <label for="pro_nombre">CODE BARRA</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" name="codebarra" value="{{gncodebarra}}"  required class="form-control" readonly>
                </div>
              </div>
            </div>
            <div class="col-md- 6 col-lg-6 col-sm-6">
              <label for="pro_nombre">Cantidad a generar</label>
              <div class="form-group">
                <div class="form-line">
                  <select id="grupos" class="form-control cantida_generate" id="cantida_generate" data-placeholder="Seleccione">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="divbarcodeprint" class="col-md-6 col-sm-6 col-lg-12">
              <svg style="width:10; height: 10; display:none" id="barcodeprint"></svg>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-lg btn-block waves-effect" data-dismiss="modal">Volver a lista</button>
              <button type="submit"  class="btn btn-outline-success btn-lg btn-block waves-effect"  (click)='ImprimirCode()'>IMPRIMIR</button>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="moda-lotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content-lote">
      <div class="modal-header">
        <h5 class="modal-title"><span style="font-weight: 580;">Historial de Lotes del Producto: </span> <strong>{{nameProduct}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="display table table-hover table-striped" style="width: 100%;" >
                <thead>
                      <tr>
                        <th scope="col">Descripcion</th>
                        <th scope="col">CodigoLote</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha Vencimiento</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of lote">
                      <td>
                        <input type="text"  readonly value="{{item.lot_name}}" class="form-control">
                      </td>
                      <td>
                        <input type="text" readonly value="{{item.lot_code}}" class="form-control">
                      </td>
                      <td>
                        <input type="number" readonly value="{{item.cantidad}}"  class="form-control">
                      </td>
                      <td>
                        <input type="text" readonly value="{{item.lot_expiration_date}}"  class="form-control">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-lg btn-block waves-effect" data-dismiss="modal">Volver a lista</button>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-errores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modal-content-lote">
      <div class="modal-header">
        <h5 class="modal-title"><span style="font-weight: 580;">Errores</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div>
              <u *ngFor="let item of listError">
                <li>{{item}}</li>
              </u>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="close()">Volver a lista</button>
      </div>
      </div>
    </div>
  </div>
</div>
