
<div class="ng-autocomplete">
  <ng-autocomplete  #auto
    [data]="selectproducto"
    [searchKeyword]="keyword"
    placeholder="Buscar Producto"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    (inputCleared)= 'onCleared($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
  <ng-template #itemTemplate let-item>
  <a [innerHTML]="item.pro_name"></a>
  </ng-template>
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
  </div>
