<section class="content">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
            <h2 _ngcontent-okb-c6=""  class="m-b-10 title"> REPORTES | INVENTARIO <i _ngcontent-lhn-c5="" style="font-size: 30px;margin-left: 10px;color: GREEN;" class="fas fa-box"></i></h2>
          </div>
          <div class="body" id="cabecera">
              <div class="row">
                    <div style="padding: 10px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="input-group">
                          <div class="form-line">
                              <input [disabled]="cargandoInformacion" style="margin-left: 8px;" (keyup.enter)="Fetch()" [(ngModel)]="filtros.codigo" type="text" id="reportes_input" class="form-control fecha_desde" placeholder="Buscar por codigo">
                          </div>
                      </div>
                    </div>
                    <div style="padding: 10px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="input-group">
                          <div class="form-line">
                              <input [disabled]="cargandoInformacion" style="margin-left: 8px;" (keyup.enter)="Fetch()" [(ngModel)]="filtros.nombre" type="text" id="reportes_input" class="form-control fecha_desde" placeholder="Buscar por nombre">
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="form-group default-select">
                          <select class="form-control categoria"  [disabled]="cargandoInformacion" [(ngModel)]="filtros.categoria" data-placeholder="Categoria">
                              <option></option>
                          </select>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i title="Fecha desde"  style="margin-left: 10px;cursor: pointer" class="material-icons">date_range</i>
                          </span>
                          <div class="form-line">
                              <input [disabled]="cargandoInformacion"  style="cursor: pointer" [(ngModel)]="filtros.fechaDesde" type="text" id="reportes_input" class="form-control fecha_desde" placeholder="">
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i title="Fecha Hasta" style="cursor: pointer"  class="material-icons">date_range</i>
                          </span>
                          <div class="form-line">
                              <input  [disabled]="cargandoInformacion" style="cursor: pointer" (change)="Fetch()"  [(ngModel)]="filtros.fechaHasta" type="text" id="reportes_input" class="form-control fecha_hasta" placeholder="">
                          </div>
                      </div>
                    </div>
                    <!-- <div class="btn-group pull-right">
                      <button type="button" onclick="reporte();" class="btn btn-default"><i class="fa fa-print"></i> PDF
                      </button><button type="button" onclick="inventario_excel();" class="btn btn-default"><i class="fa fa-file-excel-o"></i>   Excel
                      </button><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mostrar
                     <span class="caret"></span></button>
     </div> -->
                    <div _ngcontent-uyc-c6="" class="btn-group" role="group">
                      <button _ngcontent-uyc-c6="" class="btn btn-danger waves-effect" type="button"><i _ngcontent-wdf-c5="" class="far fa-file-pdf"></i></button>
                      <button _ngcontent-uyc-c6="" class="btn btn-success waves-effect" type="button"><i _ngcontent-mgn-c8="" class="fas fa-file-excel"></i></button>
                      <button _ngcontent-uyc-c6="" class="btn btn-info waves-effect" type="button"> <i _ngcontent-cfj-c8="" class="fas fa-sync-alt"></i></button></div>
                    <!-- <button _ngcontent-cba-c19="" [disabled]="cargandoInformacion" class="btn btn-success waves-effect" type="button" title="actualizar" (click)="FetchActualzar()"><i _ngcontent-cfj-c8="" class="fas fa-sync-alt"></i></button>
                    <button _ngcontent-cba-c19="" [disabled]="cargandoInformacion" style="margin-left: 5px;" class="btn btn-success waves-effect" (click)="LimpiarFiltros()" type="button"><i _ngcontent-wdf-c5="" class="fas fa-eraser"></i></button>
                    <button _ngcontent-cba-c19="" [disabled]="cargandoInformacion" style="margin-left: 5px;" class="btn btn-success waves-effect" (click)="Exportar()" type="button"><i _ngcontent-wdf-c5="" class="fas fa-file-excel"></i></button> -->
              </div>
          </div>
      </div>
      <div class="card">
        <div class="body">
          <div class="header">
            <h2 _ngcontent-okb-c6=""  class="m-b-10 titleLista"> Listado de Productos </h2>
          </div>
          <table class="table table-bordered table-striped  js-basic-example table-inventarios" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 50px;">Codigo</th>
                    <th style="width: 300px;">Producto</th>
                    <th>Categoria</th>
                    <th>Existencia</th>
                    <th>Costo</th>
                    <th>Total</th>
                </tr>
            </thead>
          </table>
        </div>
    </div>
  </div>
  </div>
</section>
<app-cargardo-component #isloading></app-cargardo-component>

