input[type="text"], input[type="password"], input[type="number"], input[type="date"],textarea {
  height: 1.5rem !important;
  box-sizing: border-box;
  display: 0px !important;
  width: 90%;
  border-width: 0.5px;
  border-style: solid;
  padding: 14px;
  outline: 0;
  font-family: inherit;
  background: #fff;
  border-color: #48c78e;
  color: #555;
}
input[type="date"] {
  border-radius: 5px;
}
.btn:not(.btn-link):not(.btn-circle) span {
  top: 0px !important;
}
.tabxlote {
  min-height: 100px;
  max-height: 400px;
  overflow-x: auto;
  margin-bottom: 10px;
}
th {
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height:25px;
  background: white;
}
u {
  text-decoration: none;
  list-style: none;
  text-align: center;
}
li {
  color: black;
  font-size: inherit;
}
#modal-content-lote {
  width: 700px;
  border-radius: 10px;
}
