
<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <ul class="breadcrumb breadcrumb-style ">
                      <li class="breadcrumb-item bcrumb-1">
                        <i class="fas fa-box-open" style="color: linear-gradient(135deg,#ffc480, #ff763b) !important;;"></i>
                      </li>
                      <li class="breadcrumb-item bcrumb-2">
                          <a href="#" onClick="return false;">Almacen</a>
                      </li>
                      <li class="breadcrumb-item active">Ajustar Stock</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- Vertical Layout -->
      <div class="card" >
        <div class="card-body" [ngClass]="{'tabxlote': typeAjustar, '': !typeAjustar}">
          <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation">
                <a href="#productoUnidad" (click)="TabUnidad()"  data-toggle="tab" class="active show">
                 AJUSTAR POR UNIDAD
                </a>
            </li>
            <li role="presentation">
                <a href="#productoLote" (click)="TabLotes()" data-toggle="tab">
                 AJUSTAR POR LOTES
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active show" id="productoUnidad">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="pro_nombre" class="control-label required">Productos</label>
                        <div class="form-line" style="display: flex;">
                          <input class="text-uppercase codigoArticulo" [disabled]="loading"  [(ngModel)]="product.pro_nombre" type="text" placeholder="Producto"/>
                          <app-c-seleccionar-productos  *ngIf="activeProductoxUnidad" [isActiveProducto]="activeProductoxUnidad" [typeProducto]="typeProducto" (producto)="selectProductoxUnidad($event)"></app-c-seleccionar-productos>
                          <button class="btn btn-success" [disabled]="loading" style="height: 30px; background-color: #48c774 !important;" (click)="showSelectProductoxUnidad()"><i class="fas fa-search-plus" style="font-size: 15px;"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      <div class="form-group">
                        <label for="pro_nombre" class="control-label required">Stock</label>
                        <div class="form-line" style="display: flex;">
                          <input class="text-uppercase" [disabled]="loading"  [(ngModel)]="product.pro_cantdad" type="number" />
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="pro_nombre" class="control-label required">Fecha Vencimiento</label>
                        <div class="form-line">
                          <input type="date" [disabled]="loading" [(ngModel)]="product.fecha_vencimiento" id="fecha_vencimiento" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      <div class="form-group">
                        <div class="form-line" style="display: flex;">
                          <button [disabled]="loading" type="button" (click)="Ajustar()" style="height: 35px; background-color:#48c78e !important; margin-top: 20px;" class="btn bg-deep-orange">
                            <span *ngIf="!loading" style="font-size: 12px; text-transform: capitalize;"> 
                              Ajustar <i class="fas fa-save" style="font-size: 12px;">
                              </i>
                            </span>
                            <i *ngIf="loading" class="fas fa-spinner fa-spin reload"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="productoLote">
              <table class="table-hover table-striped" style="width: 100%;" >
                <thead>
                      <tr>
                        <th scope="col" style="width: 400px;">Producto</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">F.Vencimiento</th>
                        <th scope="col">
                          <button type="button" (click)="AgregarLotes()" style="height: 35px; background-color:#48c78e !important;" class="btn bg-deep-orange">
                          <span style="font-size: 12px; text-transform: capitalize;"> Agregar Item <i style="font-size: 12px;" class="fas fa-plus"></i></span>
                        </button>
                      </th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of product.lote; let i=index">
                      <td>
                        <div class="form-line" style="display: flex;">
                          <input class="text-uppercase codigoArticulo" [disabled]="isLoading"  [(ngModel)]="item.pro_nombre" type="text" placeholder="Producto"/>
                          <app-c-seleccionar-productos *ngIf="activeProductoxLote && indexSeleccionado === i" [isActiveProducto]="activeProductoxLote" [typeProducto]="typeProducto" (producto)="selectProducto($event)"></app-c-seleccionar-productos>
                          <button class="btn btn-success" [disabled]="isLoading" style="height: 30px; background-color: #48c774 !important;" (click)="showSelectProducto(i)"><i class="fas fa-search-plus" style="font-size: 15px;"></i></button>
                        </div>
                      </td>
                      <td>
                        <div class="form-line" style="display: flex;">
                          <input class="text-uppercase codigoArticulo"  [disabled]="isLoading"  [(ngModel)]="item.codigo_lote" type="text" placeholder="Lote"/>
                          <app-c-seleccionar-lote *ngIf="isActiveLote && indexSeleccionado === i" [isActiveLote]="isActiveLote" [idProducto]="item.id_producto" (lote)="selectLote($event)"></app-c-seleccionar-lote>
                          <button class="btn btn-success" [disabled]="isLoading" style="height: 30px; background-color: #48c774 !important;" (click)="showSelectLote(i)"><i class="fas fa-search-plus" style="font-size: 15px;"></i></button>
                        </div>
                      </td>
                      <td>
                        <input type="number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" [(ngModel)]="item.cantidad" class="form-control">
                      </td>
                      <td>
                        <input type="date" [(ngModel)]="item.lot_expiration_date" id="fecha_vencimiento" class="form-control">
                      </td>
                      <td><button type="button" (click)="eliminar(i)" style="height: 35px;" class="btn bg-danger btn-circle waves-effect waves-circle waves-float">
                        <span><i class="fas fa-trash-alt" style="color: white;"></i></span>
                      </button></td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
        </div>
        <footer *ngIf="typeAjustar">
          <button type="button" (click)="Ajustar()" style="height: 35px; background-color:#48c78e !important; margin-bottom: 18px; margin-left: 80%;" class="btn bg-deep-orange">
            <span *ngIf="!loading" style="font-size: 12px; text-transform: capitalize;"> 
              Ajustar Stock <i class="fas fa-save" style="font-size: 12px;">
              </i>
            </span>
            <i *ngIf="loading" class="fas fa-spinner fa-spin reload"></i>
          </button>
        </footer>
      </div>
  </div>
</section>
<div class="modal fade" id="modal-errores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modal-content-lote">
      <div class="modal-header">
        <h5 class="modal-title"><span style="font-weight: 580;">Errores</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div>
              <u *ngFor="let item of listError">
                <li>{{item}}</li>
              </u>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="close()">Volver a lista</button>
      </div>
      </div>
    </div>
  </div>
</div>