<section class="content">
  <div class="container-fluid">
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                  <div class="body">
                    <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="card">
                              <div class="body">
                                  <!-- Nav tabs -->
                                  <ul class="nav nav-tabs" role="tablist">
                                      <li role="presentation">
                                          <a href="#home_with_icon_title" data-toggle="tab" class="active show">
                                             ACTIVOS
                                          </a>
                                      </li>
                                      <li role="presentation">
                                          <a href="#profile_with_icon_title" data-toggle="tab">
                                              DESACTIVOS
                                          </a>
                                      </li>
                                  </ul>
                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                      <div role="tabpanel" class="tab-pane fade in active show" id="home_with_icon_title">
                                        <button _ngcontent-xhm-c6="" style="margin-left: 10px;" class="btn btn-success waves-effect" data-toggle="modal" data-target="#modalRegistrar" type="button"><i _ngcontent-dhs-c6="" class="fas fa-plus-square"></i></button>
                                        <button _ngcontent-xhm-c6="" style="margin-left: 10px;" class="btn btn-success waves-effect" data-toggle="modal" data-target="#filtrarpor" type="button"><i _ngcontent-dhs-c6="" class="fas fa-plus-square"></i> Filtrar</button>
                                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                          <div class="panel-group" id="accordion_17" role="tablist"
                                              aria-multiselectable="true">
                                              <div class="panel panel-col-cyan">
                                                <div class="panel-heading" role="tab" id="headingFour_17">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            data-parent="#accordion_17" href="#collapseFour_17"
                                                            aria-expanded="false" aria-controls="collapseFour_17">
                                                            <i _ngcontent-toh-c7="" class="material-icons">turned_in_not</i> VER CATEGORIAS
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFour_17" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingFour_17">
                                                    <div class="panel-body">
                                                      <div class="table-responsive">
                                                        <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbcategory" style="width: 100%;">
                                                          <thead>
                                                              <tr>
                                                                <th scope="col">CATEGORIA</th>
                                                                <th scope="col">ESTADO</th>
                                                                <th scope="col">OPCIONES</th>
                                                              </tr>
                                                          </thead>
                                                          <tfoot>
                                                            <tr>
                                                              <th scope="col">CATEGORIA</th>
                                                              <th scope="col">ESTADO</th>
                                                              <th scope="col">OPCIONES</th>
                                                            </tr>
                                                          </tfoot>
                                                      </table>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                          <div class="col-md-12 col-lg-12 col-sm-12">
                                            <h5>HISTORIAL DE SUBCATEGORIAS</h5>
                                            <div class="table-responsive">
                                              <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbpclase" style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">CATEGORIA</th>
                                                      <th scope="col">SUBCATEGORIA</th>
                                                      <th scope="col">ESTADO</th>
                                                      <th scope="col">OPCIONES</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                  <tr>
                                                    <th scope="col">CATEGORIA</th>
                                                    <th scope="col">SUBCATEGORIA</th>
                                                    <th scope="col">ESTADO</th>
                                                    <th scope="col">OPCIONES</th>
                                                  </tr>
                                                </tfoot>
                                            </table>
                                          </div>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                          <div class="panel-group" id="accordion_17" role="tablist"
                                              aria-multiselectable="true">
                                              <div class="panel panel-col-cyan">
                                                <div class="panel-heading" role="tab" id="headingFour_17">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            data-parent="#accordion_17" href="#collapseFour_17"
                                                            aria-expanded="false" aria-controls="collapseFour_17">
                                                            <i _ngcontent-toh-c7="" class="material-icons">turned_in_not</i> VER CATEGORIAS
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFour_17" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingFour_17">
                                                    <div class="panel-body">
                                                      <div class="table-responsive">
                                                        <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbcategoriadesac" style="width: 100%;">
                                                          <thead>
                                                              <tr>
                                                                <th scope="col">CATEGORIA</th>
                                                                <th scope="col">ESTADO</th>
                                                                <th scope="col">OPCIONES</th>
                                                              </tr>
                                                          </thead>
                                                          <tfoot>
                                                            <tr>
                                                              <th scope="col">CATEGORIA</th>
                                                              <th scope="col">ESTADO</th>
                                                              <th scope="col">OPCIONES</th>
                                                            </tr>
                                                          </tfoot>
                                                      </table>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                          <div class="col-md-12 col-lg-12 col-sm-12">
                                            <h5>HISTORIAL DE SUBCATEGORIAS</h5>
                                            <div class="table-responsive">
                                              <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 tbpclasedesacti" style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">CATEGORIA</th>
                                                      <th scope="col">SUBCATEGORIA</th>
                                                      <th scope="col">ESTADO</th>
                                                      <th scope="col">OPCIONES</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                  <tr>
                                                    <th scope="col">CATEGORIA</th>
                                                    <th scope="col">SUBCATEGORIA</th>
                                                    <th scope="col">ESTADO</th>
                                                    <th scope="col">OPCIONES</th>
                                                  </tr>
                                                </tfoot>
                                            </table>
                                          </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- #END# Exportable Table -->
  </div>
</section>
<div class="modal fade" id="modalRegistrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">REGISTRAR CLASES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="Registrar()">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                  <label for="pro_nombre">CATEGORIAS</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" onkeyup="this.value = this.value.toUpperCase();"
                             name="Cla_nombre" formControlName="Cla_nombre" required class="form-control"
                             placeholder="Escriba el nombre del producto">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <label for="pro_cantidad_minima">SUBCATEGORIAS</label><p></p>
                  <div class="form-group default-select">
                      <select class="form-control clase_superior" id="clase_superior" name="clase_superior" formControlName="clase_superior" data-placeholder="Select">
                          <option value="{{clasesu.id_clase_producto}}" *ngFor="let clasesu of clasesupe">{{clasesu.clasepadre}}</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-border-radius btn-outline-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit"  class="btn btn-outline-success btn-border-radius">Registrar</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ACTUALZIAR CATEGORIAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="Actualizar()">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <label for="pro_cantidad_minima">CATEGORIAS</label><p></p>
                  <div class="form-group default-select">
                      <select class="form-control clasePadre" id="clasePadre" name="clasePadre" formControlName="clasePadre" data-placeholder="Select">
                      </select>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <label for="pro_cantidad_minima">SUBCATEGORIAS</label><p></p>
                  <div class="form-group default-select">
                      <select class="form-control clasehijo" id="clasehijo" name="clasehijo" formControlName="clasehijo" data-placeholder="Select">
                      </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-border-radius btn-outline-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit"  class="btn btn-outline-success btn-border-radius">Actualizar</button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewdetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detalle Subcategorias de {{categoria}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="display table table-hover table-checkable order-column m-t-20 width-per-100 subcate" style="width: 100%;">
            <thead>
                <tr>
                  <th scope="col">SUBCATEGORIAS</th>
                </tr>
            </thead>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updatecate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="ActualizarCate()">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              <label for="pro_nombre">NOMBRE</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" onkeyup="this.value = this.value.toUpperCase();" name="Cla_nombre" formControlName="Cla_nombre" required class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12"><br><br>
              <button type="submit"  class="btn btn-outline-success btn-border-radius">Actualizar</button>
              <button type="button" style="margin-left: 10px;" class="btn btn-border-radius btn-outline-danger" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="filtrarpor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Filtrar Por Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-6">
            <label for="pro_cantidad_minima">CATEGORIAS</label><p></p>
            <div class="form-group default-select">
                <select class="form-control searchclasepadre" id="searchclasepadre" name="searchclasepadre"  data-placeholder="seleccionar">
                    <option value="{{clasesu.id_clase_producto}}" *ngFor="let clasesu of clasesupe">{{clasesu.clasepadre}}</option>
                </select>
            </div>
            <div class="loader" *ngIf="loading" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>