<div class="table-responsive">
  <div class="header">
    <h2 style="text-align: center;" _ngcontent-okb-c6="" class="m-b-10">Historial de productos mas vendidos</h2>
  </div>
  <table class="table table-bordered table-striped table-hover js-basic-example tablePorductosMasVendidos">
      <thead>
          <tr>
              <th>N° Compra</th>
              <th>Proveedor</th>
              <th>Fecha Compra</th>
              <th>Descuento</th>
              <th>Estado</th>
              <th>S.Total</th>
              <th>Igv</th>
              <th>Total</th>
          </tr>
      </thead>
  </table>
</div>