
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 id="header">
                    Historial compras a credito</h2>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#home_with_icon_title"  data-toggle="tab" class="active show">
                            <i _ngcontent-inh-c7="" style="font-size: 25px;" class="fas fa-hand-holding-usd"></i> Deudas
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#profile_with_icon_title" data-toggle="tab">
                            <i _ngcontent-dmw-c5="" style="font-size: 25px;" class="fas fa-hands-helping"></i> Pagadas
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="home_with_icon_title">
                          <table class="table table-bordered table-striped  js-basic-example tableCredito_deudas" style="width: 100%;">
                              <thead>
                                  <tr>
                                      <th>N° Compra</th>
                                      <th>Proveedor</th>
                                      <th>Fecha Compra</th>
                                      <th>Estado</th>
                                      <th>M.Pagado</th>
                                      <th>M.Debe</th>
                                      <th>Total</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>
                          </table>
                          <h4 class="titledetalle" *ngIf="detalleCompraDeuda.length > 0">Detalle de Compra</h4>
                          <table *ngIf="detalleCompraDeuda.length > 0" class="table table-bordered table-striped table-hover js-basic-example">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of detalleCompraDeuda">
                                <td>{{item.pro_name}}</td>
                                <td>{{item.dcCantidad}}</td>
                                <td>{{item.dcPrecioUnitario}}</td>
                                <td>{{item.dcSubTotal}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                        <table class="table table-bordered table-striped  js-basic-example tableCredito_pagadas" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>N° Compra</th>
                                    <th>Proveedor</th>
                                    <th>Fecha Compra</th>
                                    <th>Estado</th>
                                    <th>M.Pagado</th>
                                    <th>M.Debe</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                        </table>
                        <h4  class="titledetalle" *ngIf="detalleCompraPagada.length > 0">Detalle de Compra</h4>
                        <table *ngIf="detalleCompraPagada.length > 0" class="table table-bordered table-striped table-hover js-basic-example">
                            <thead>
                              <tr>
                                  <th>Producto</th>
                                  <th>Cantidad</th>
                                  <th>Precio Unitario</th>
                                  <th>Sub Total</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of detalleCompraPagada">
                              <td>{{item.pro_name}}</td>
                              <td>{{item.dcCantidad}}</td>
                              <td>{{item.dcPrecioUnitario}}</td>
                              <td>{{item.dcSubTotal}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div _ngcontent-rtx-c6="" style="text-align: center;" class="alert alert-danger" *ngIf="detalleCompraDeuda.length === 0"><strong _ngcontent-rtx-c6="">OPPS!</strong> No existen detalle para esta compra </div> -->
<div class="modal fade" id="modalPagarCredito" tabindex="-1" role="dialog" aria-labelledby="modalPagar" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="border-radius: 10px;">
          <div class="modal-header">
              <h5 class="modal-title" style="margin-left: 150px;" id="modalPagar">Formulario de Pago</h5>
              <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="input-group-addon titulo">Deuda</label>
                            <input type="number" readonly [(ngModel)]="credito.deuda" class="form-control" placeholder="0.00">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="input-group-addon titulo">Monto</label>
                            <input type="number"(keyup)="CalcularVuelto($event)" [(ngModel)]="credito.monto" class="form-control" placeholder="0.00">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="input-group-addon titulo" *ngIf="!labelVueltoOrDeuda">Vuelto</label>
                            <label class="input-group-addon titulo" *ngIf="labelVueltoOrDeuda">Deuda</label>
                            <input type="number" *ngIf="!labelVueltoOrDeuda" readonly [(ngModel)]="credito.vuelto" class="form-control" placeholder="0.00">
                            <input type="number" *ngIf="labelVueltoOrDeuda" readonly [(ngModel)]="credito.deudaporPagar" class="form-control" placeholder="0.00">
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn bg-light-green waves-effect"  (click)="Pagar()" style="color: #ffff;">Pagar</button>
        </div>
      </div>
  </div>
  

</div>


