.titulo {
  font-weight: 900
}
 #header {
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
 }
 .titledetalle {
  font-size: 17px;
  color: black;
  font-family: ui-serif;
  font-weight: bold;
  text-align: center;
 }