<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class=" image">
                            <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                    </div>
                    <div class="profile-usertitle">
                        <div class="sidebar-userpic-name"> {{userName}} </div>
                        <div class="profile-usertitle-job "> {{rolName}} </div>
                    </div>
                </li>
                <li *ngFor="let rep of grupo;let i = index;" >
                    <a href="#" onClick="return false;" class="menu-toggle" [ngClass]="{'toggled': rep.collapse, 'toggle': !rep.collapse}" (click)="toggleAccordian(i, rep)">
                        <i class="{{rep.pri_icon}}"></i> 
                        <span>{{rep.pri_nombre}}</span>
                    </a>
                    <ul [ngStyle]="{'display':rep.collapse ? 'block' : 'none' }" *ngFor="let p of privilegio">
                        <li *ngIf="p.id_Padre === rep.id_privilegio" routerLinkActive="active">
                            <a routerLink="{{p.pri_acces}}">
                                <span>{{p.sub_pri_nombre}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</div>