<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class=" image">
                            <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                    </div>
                    <div class="profile-usertitle">
                        <div class="sidebar-userpic-name"> {{userName}} </div>
                        <div class="profile-usertitle-job "> {{rolName}} </div>
                    </div>
                </li>
                <li *ngFor="let rep of allReportCategories;let i = index;" >
                    <a href="#" onClick="return false;" class="menu-toggle" [ngClass]="{'toggled': rep.collapse, 'toggle': !rep.collapse}" (click)="toggleAccordian($event, i, rep)">
                        <i class="{{rep.pri_icon}}"></i> 
                        <span>{{rep.pri_nombre}}</span>
                    </a>
                    <ul [ngStyle]="{'display':rep.collapse ? 'block' : 'none' }" *ngFor="let subrep of reportByCategoryId"  
                    style="display:block;" id="submenu" style="padding-left:7px;" hide="!rep.isActive">
                        <li *ngIf="subrep.id_Padre === rep.id_privilegio" routerLinkActive="active" class="wrapper">
                            <a routerLink="{{subrep.pri_acces}}">
                                <span>{{subrep.sub_pri_nombre}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li routerLinkActive="active">
                    <a href="#" onClick="return false;" class="menu-toggle">
                        <i class="fab fa-pagelines"></i>
                        <span>Widgets</span>
                    </a>
                    <ul class="ml-menu">
                        <li routerLinkActive="active">
                            <a routerLink="widget/chart-widget">Chart Widget</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="widget/data-widget">Data Widget</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</div>