<div class="modal fade" id="isModalTransaccion"  tabindex="-1" role="dialog" aria-labelledby="isModalTransaccion" data-backdrop="static" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="border-radius: 10px">
          <div class="modal-body">
              <section class="modal-card-body">
                  <div class="content">
                    <i  class="fa fa-circle-notch fa-spin has-text-primary fa-2x reloadicon">
                    </i>
                    <span class="transaccionCurso">Transacción en curso :</span>
                    <strong class="messagePocesos">{{messageProceso}}</strong>
                  </div>
                </section>
                <!-- <div *ngIf="isloading" class="loading-global-sil-container">
                  <div class="loading-global-sil"></div>
                  <div class="cargando-text" id="loading-global-sil-text">{{message}}</div>
                </div> -->
           </div>
  </div>
</div>